<div class="pl-1 pr-1 mb-1">
    <div class="row d-flex justify-content-between align-items-center flex-wrap grid-margin">
        <div class="col-md-10 col-sm-12">
            <h4 class="text-bold-500 text-left hearder-text">
                Time Sheet
            </h4>
        </div>
        <div class="d-flex align-items-center flex-wrap text-nowrap">
            <button type="button" matRipple class="btn btnadd mr-2 mb-2" (click)="goToAction(0,0)">
                <i class="btn-icon-prepend fa fa-plus"></i>
                {{'Add' | translate}}
            </button>
            <button type="button" matRipple class="btn btnrefresh mr-2 mb-2" (click)="refresh()">
                <i class="btn-icon-prepend fa fa-refresh"></i>
                {{'Refresh' | translate}}
            </button>
            <!-- <button type="button" matRipple class="btn btnexportexcel mb-2" (click)="onExportExcel()">
              <i class="btn-icon-prepend fa fa-file-excel-o"></i>
              {{'ExportExcel' | translate}}
            </button> -->
        </div>
    </div>
</div>
<div *ngIf="loading" class="loadesr"></div>
<mat-form-field class="mb-0 col-sm-12 col-md-12 col-lg-12 col-xl-12">
    <input id="search" matInput (keyup)="applyFilter($event)" placeholder="{{'Search'}}" #searchInput>
</mat-form-field>
<div class="table-responsive">
    <mat-table #table [dataSource]="dataSource" matSort matSortDirection="asc">

        <ng-container matColumnDef="OrganizatioType">
            <mat-header-cell *matHeaderCellDef mat-sort-header="organisationTypeName">{{'Organisation Type' |
                translate}}
            </mat-header-cell>
            <mat-cell *matCellDef="let dataField">
                <p class="text-truncate txtalign lbl-pointer">{{dataField.organisationTypeName}}</p>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="OrganizationName">
            <mat-header-cell *matHeaderCellDef mat-sort-header="organisationName">{{'Organisation Name' | translate}}
            </mat-header-cell>
            <mat-cell *matCellDef="let dataField">
                <p class="text-truncate txtalign lbl-pointer">{{dataField.organisationName}}</p>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="RegistrationNo">
            <mat-header-cell *matHeaderCellDef mat-sort-header="registrationRefNo">{{'Booking Referene No' | translate}}
            </mat-header-cell>
            <mat-cell *matCellDef="let dataField">
                <p class="text-truncate txtalign lbl-pointer">{{dataField.registrationRefNo}}</p>
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="registrationTs">
            <mat-header-cell *matHeaderCellDef mat-sort-header="registrationTs">{{'Booking Date' | translate}}
            </mat-header-cell>
            <mat-cell *matCellDef="let dataField">
                <p class="text-truncate txtalign lbl-pointer">{{dataField.registrationTs | date : 'dd-MM-YYYY'}}</p>
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="mobile">
            <mat-header-cell *matHeaderCellDef mat-sort-header="contactPersonMobileNo">{{'Mobile Number' | translate}}
            </mat-header-cell>
            <mat-cell *matCellDef="let dataField">
                <p class="text-truncate txtalign lbl-pointer">{{dataField.contactPersonMobileNo}}</p>
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="email">
            <mat-header-cell *matHeaderCellDef mat-sort-header="contactPersonEmail">{{'E-Mail Id' | translate}}
            </mat-header-cell>
            <mat-cell *matCellDef="let dataField">
                <p class="text-truncate txtalign lbl-pointer">{{dataField.contactPersonEmail}}</p>
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="status">
            <mat-header-cell *matHeaderCellDef mat-sort-header="registrationStatusTypeName">{{'Status' | translate}}
            </mat-header-cell>
            <mat-cell *matCellDef="let dataField">
                <p [ngClass]="dataField?.registrationStatusType == 2 ? 'bggreen' : 'bgred' "
                    class="text-truncate txtalign lbl-pointer">{{dataField.registrationStatusTypeName}}</p>
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="indoorTypeName">
            <mat-header-cell *matHeaderCellDef mat-sort-header="indoorTypeName">{{'Indoor Stall in Nos (3M x 3M) ' |
                translate}}
            </mat-header-cell>
            <mat-cell *matCellDef="let dataField">
                <p class="text-truncate txtalign lbl-pointer">{{dataField.indoorTypeName}}</p>
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="outdoorTypeName">
            <mat-header-cell *matHeaderCellDef mat-sort-header="outdoorTypeName">{{'Outdoor (Square Meter) ' |
                translate}}
            </mat-header-cell>
            <mat-cell *matCellDef="let dataField">
                <p class="text-truncate txtalign lbl-pointer">{{dataField.outdoorTypeName}}</p>
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="totalCost">
            <mat-header-cell *matHeaderCellDef mat-sort-header="totalCost">{{'Total Cost' |
                translate}}
            </mat-header-cell>
            <mat-cell *matCellDef="let dataField">
                <p class="text-truncate txtalign lbl-pointer">{{dataField.totalCost == 0 ? '':dataField.totalCost}}</p>
            </mat-cell>
        </ng-container>


        <ng-container fxFlex="10" matColumnDef="action">
            <mat-header-cell *matHeaderCellDef align="center">{{'Actions' | translate}}</mat-header-cell>
            <mat-cell *matCellDef="let dataField" class="button-bar">

                <button data-toggle="tooltip" data-placement="right" matTooltip="{{'View'|translate}}"
                    matTooltipClass="tooltip-edit" matTooltipPosition="right" mat-icon-button color="accent"
                    (click)="goToAction(dataField.id, 0)">
                    <i class="fa fa-eye fa-2x"></i>
                </button>

            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></mat-header-row>

        <mat-row *matRowDef="let row; columns: displayedColumns;" matRipple>
        </mat-row>
    </mat-table>
</div>
<mat-paginator #paginator [length]="dataSource!=null && dataSource.filteredData.length" [pageIndex]="0" [pageSize]="10"
    [pageSizeOptions]="[10, 25, 50, 100]">
</mat-paginator><br>