.custom_sec {
    max-width: 100%;
    width: 100%;
    display: block;
    padding: 0 1%;
}

.profile_sec {
    margin: 0;
    padding: 0;
    width: 100%;
}

.toggleclass::after {
    display: none !important;
}

li {
    list-style: none;
}

li,
a:after {
    content: none !important;
}

//  a::after
//  {
//      content: none;
//  }

.profile_sec li {
    list-style: none;
    flex: 1;
}

li.nav-profile {
    position: relative !important;
}

.dropdown-menu.show {
    right: 0;
    left: auto;
}

.custom_sec .profile_sec .profile_drop img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    padding: 3px;
}

.custom_sec .profile_sec img {
    border-radius: 50%;
    padding: 3px;
}

.custom_sec .nav-link {
    display: flex;
    align-items: center;
    margin-left: 0;
    margin-right: 0;
    color: #383838;
    transition: color .2s ease-in-out;
    padding: 4px 5px;
}

.custom_sec .nav-link i {
    margin-right: 6px;
}

.justify {
    justify-content: flex-end;
}

@media only screen and(max-width:575px) {
    .custom_sec {
        max-width: 100%;
        width: 100%;
        display: block;
        padding: 0 1%;
        margin: 2%;
    }

    .custom_sec li {
        margin: 10px 0px;
    }

    .form_drop {
        left: auto !important;
        right: 0 !important;
    }

    li.nav-profile {
        position: relative !important;
    }
}


@media only screen and(max-width:480px) {
    .custom_mobile_sec {
        width: 80%;
    }

    ngx-select-dropdown {
        width: 160px;
    }

    .custom_mobile_sec .navbar-content {
        padding-left: 0;
    }

    .form_drop {
        left: 20% !important;
        right: auto !important;
    }

    li.nav-profile {
        position: static !important;
    }

}

@media only screen and(max-width:400px) {
    .custom_mobile_sec {
        width: 76%;
    }

    ngx-select-dropdown {
        width: 160px;
    }

    .custom_mobile_sec .navbar-content {
        padding-left: 0;
    }

}

.indicator .circle::before,
.pulse {
    -webkit-animation-name: pulse;
    animation-name: pulse;
    -webkit-animation-duration: .9s;
    animation-duration: .9s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
}


@media only screen and (min-width : 320px) and (max-width : 480px) {

    .swal2-popup {
        width: 230px !important;
    }
}

.imgwid {
    // width: 60px;
    // width: 100%;
    // max-width: 70%;
    max-width: 45%;
}

.pointer {
    text-align: end;
}

.nowrap {
    white-space: nowrap;
}

.usertext {
    align-self: center;
    padding: 0px 0px 0px 15px;
    text-align: right;
}

.padding_left {
    padding-left: 35px;
}

.userimage {
    align-self: center;
}

.todayDate {
    align-self: center;
    text-align: left;
}

.fontColor {
    color: black;
    font-weight: bold;
    // font-size: 15px;
    font-size: 24px;
}

.fontColor1 {
    color: #1C2B47;
    font-size: 15px;
}

.formPadd {
    padding-top: 18px;
}

.mobileTitle {
    color: #1C2B47;
    position: absolute;
    left: 90px;
    top: 34%px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    padding-right: 42px;

    @media only screen and(max-width:750px) {
        // top: 30%;
        font-size: 20px;
    }

    @media only screen and(max-width:560px) {
        // top: 12%;
        font-size: 18px;
    }

    // @media only screen and(max-width:520px) {
    //     top: 16%;
    //     font-size: 18px;
    // }
    @media only screen and(max-width:428px) {
        // top: 16%;
        font-size: 16px;
    }

    @media only screen and(max-width:360px) {
        // top: 15%;
        font-size: 12px;
    }
}

.progressline {
    bottom: 0px;
    left: 0px;
    position: absolute;
    height: 2.6px;
    width: 100%;
    background: linear-gradient(#6CB449 0 0), linear-gradient(#2077A9 0 0), #e3effa;
    background-size: 60% 100%;
    background-repeat: no-repeat;
    animation: progress-7x9cg2 1.4s infinite;
}

@keyframes progress-7x9cg2 {
    0% {
        background-position: -150% 0, -150% 0;
    }

    66% {
        background-position: 250% 0, -150% 0;
    }

    100% {
        background-position: 250% 0, 250% 0;
    }
}