<div class="d-flex justify-content-between align-items-center flex-wrap grid-margin">
    <div>
        <h4 class="mb-3 mb-md-0">&nbsp;{{'Add Task Details' }}</h4>
        <!-- <h4 class="mb-3 mb-md-0" *ngIf="actionInfo == 0 && id == 0">&nbsp;{{'Add Project Details' | translate}}</h4> -->
        <!-- <h4 class="mb-3 mb-md-0" *ngIf="actionInfo == 1 ">&nbsp;{{'View Project Details' | translate}}</h4>
        <h4 class="mb-3 mb-md-0" *ngIf="actionInfo == 0 && id !== 0">&nbsp;{{'Edit Project Details' | translate}}</h4> -->
    </div>
</div>
<div class="row text-left">
    <div class="col-md-12">
        <div class="card">
            <div class="card-content">
                <div class="card-body login-img">
                    <div class="px-3">
                        <form [formGroup]="form" class="form form-horizontal" novalidate>
                            <div class="form-body pt-2">
                                <fieldset [disabled]="actionInfo==1">
                                    <div class="row">

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="mandatory ">{{"Project"|translate}}</label>
                                                <mat-select placeholder=" Select Project" formControlName="projectId"
                                                    class="form-control pt-2" (selectionChange)="sortingChange($event)"
                                                    [disableOptionCentering]="true" #select
                                                    [disabled]="actionInfo == 1 || edittrue">
                                                    <mat-select-filter [displayMember]="'value'"
                                                        [array]="projectSortList"
                                                        (filteredReturn)="filterprojectSortList = $event"
                                                        *ngIf="select.focused">
                                                    </mat-select-filter>
                                                    <mat-option *ngFor="let item of filterprojectSortList"
                                                        [value]="item.key">
                                                        {{item.value}}
                                                    </mat-option>
                                                </mat-select>
                                                <div class="valid-error"
                                                    *ngIf="form.controls.projectId.errors && (form.controls.projectId.dirty || form.controls.projectId.touched)"
                                                    text-wrap>
                                                    <span *ngIf="form.controls.projectId.errors?.required"
                                                        class="form-text danger mandatory">
                                                        {{'Project ' | translate}} {{'IsRequired' | translate}}</span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="mandatory ">{{"Employee Name"|translate}}</label>
                                                <mat-select placeholder=" Select Employee Name"
                                                    formControlName="assignedTo" class="form-control pt-2"
                                                    [disableOptionCentering]="true" #select2
                                                    [disabled]="actionInfo == 1 || edittrue">
                                                    <mat-select-filter [displayMember]="'value'"
                                                        [array]="mappedEmployeeList"
                                                        (filteredReturn)="filtermappedEmployeeList =$event"
                                                        *ngIf="select2.focused">
                                                    </mat-select-filter>
                                                    <mat-option *ngFor="let item of filtermappedEmployeeList"
                                                        [value]="item.key">
                                                        {{item.value}}
                                                    </mat-option>
                                                </mat-select>
                                                <div class="valid-error"
                                                    *ngIf="form.controls.assignedTo.errors && (form.controls.assignedTo.dirty || form.controls.assignedTo.touched)"
                                                    text-wrap>
                                                    <span *ngIf="form.controls.assignedTo.errors?.required"
                                                        class="form-text danger mandatory">
                                                        {{'Employee Name' | translate}} {{'IsRequired' |
                                                        translate}}</span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="mandatory ">{{'Start Date' | translate}}</label>
                                                <div class="input-group mb-0 ">
                                                    <input class="form-control" placeholder="Select Start Date"
                                                        formControlName="startDate" [owlDateTimeTrigger]="dt1"
                                                        [owlDateTime]="dt1" (ngModelChange)="updateEndDate($event)"
                                                        [disabled]="actionInfo == 1|| edittrue">
                                                    <owl-date-time [pickerType]="'calendar'" #dt1>
                                                    </owl-date-time>
                                                    <div class="input-group-append">
                                                        <span class="trigger input-group-text"
                                                            [owlDateTimeTrigger]="dt1">
                                                            <i class="fa fa-calendar-check-o"></i>
                                                        </span>
                                                        <owl-date-time [pickerType]="'calendar'" #dt1>
                                                        </owl-date-time>
                                                    </div>
                                                </div>
                                                <div class="valid-error"
                                                    *ngIf="form.controls.startDate.errors && (form.controls.startDate.dirty || form.controls.startDate.touched)"
                                                    text-wrap>
                                                    <span *ngIf="form.controls.startDate.errors?.required"
                                                        class="form-text danger mandatory">
                                                        {{'Start Date' | translate}} {{'IsRequired' | translate}}</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="mandatory ">{{'End Date' | translate}}</label>
                                                <div class="input-group mb-0 ">
                                                    <input class="form-control" placeholder="Select End Date"
                                                        formControlName="endDate" [owlDateTimeTrigger]="dt2"
                                                        [owlDateTime]="dt2" [min]="minEndDate"
                                                        [disabled]="actionInfo == 1|| edittrue">
                                                    <owl-date-time [pickerType]="'calendar'" #dt2>
                                                    </owl-date-time>
                                                    <div class="input-group-append">
                                                        <span class="trigger input-group-text"
                                                            [owlDateTimeTrigger]="dt2">
                                                            <i class="fa fa-calendar-check-o"></i>
                                                        </span>
                                                        <owl-date-time [pickerType]="'calendar'" #dt2>
                                                        </owl-date-time>
                                                    </div>
                                                </div>
                                                <div class="valid-error"
                                                    *ngIf="form.controls.endDate.errors && (form.controls.endDate.dirty || form.controls.endDate.touched)"
                                                    text-wrap>
                                                    <span *ngIf="form.controls.endDate.errors?.required"
                                                        class="form-text danger mandatory">
                                                        {{'End Date' | translate}} {{'IsRequired' | translate}}</span>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="col-md-6">
                                            <fieldset>
                                                <div class="form-group">
                                                    <!-- [attr.readonly]="actionInfo === 1 ? true : null" -->
                                                    <!-- [disabled]="actionInfo===1" -->
                                                    <label class="mandatory ">{{'Estimate Hours'| translate}}</label>
                                                    <input type="number" class="form-control"
                                                        formControlName="estimatedHours"
                                                        placeholder="{{'Estimate Hours' | translate}}" autocomplete="off"
                                                        pattern="[0-9]*" title="Please enter only numeric values"
                                                        [readonly]="actionInfo === 1|| edittrue"
                                                        [ngClass]="{ 'disable': actionInfo === 1 || edittrue}">
                                                    <div class="valid-error"
                                                        *ngIf="form.controls.estimatedHours.errors && (form.controls.estimatedHours.dirty || form.controls.estimatedHours.touched)"
                                                        text-wrap>
                                                        <span *ngIf="form.controls.estimatedHours.errors?.required"
                                                            class="form-text  danger mandatory">
                                                            {{'Estimate Hours' | translate}} {{'IsRequired' |
                                                            translate}}</span>
    
                                                    </div>
                                                </div>
                                            </fieldset>
                                            
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>{{'Completed Hours'| translate}}</label>
                                                <input type="number" class="form-control"
                                                    formControlName="completedHours"
                                                    placeholder="{{'Completed Hours' | translate}}" autocomplete="off"
                                                    pattern="[0-9]*" title="Please enter only numeric values"
                                                    [disabled]="actionInfo == 1">
                                                <!-- <div class="valid-error"
                                                    *ngIf="form.controls.completedHours.errors && (form.controls.completedHours.dirty || form.controls.completedHours.touched)"
                                                    text-wrap>
                                                    <span *ngIf="form.controls.completedHours.errors?.required"
                                                        class="form-text  danger mandatory">
                                                        {{'Completed Hours' | translate}} {{'IsRequired' | translate}}</span>

                                                </div> -->
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="mandatory ">{{'Priority'| translate}}</label>
                                                <input type="number" class="form-control" formControlName="priority"
                                                    placeholder="{{'Priority' | translate}}" autocomplete="off"
                                                    pattern="[0-9]*" title="Please enter only numeric values"
                                                    [readonly]="actionInfo === 1|| edittrue"
                                                    [ngClass]="{ 'disable': actionInfo === 1 || edittrue}">
                                                <div class="valid-error"
                                                    *ngIf="form.controls.priority.errors && (form.controls.priority.dirty || form.controls.priority.touched)"
                                                    text-wrap>
                                                    <span *ngIf="form.controls.priority.errors?.required"
                                                        class="form-text  danger mandatory">
                                                        {{'Priority' | translate}} {{'IsRequired' | translate}}</span>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="mandatory">{{'Task Type' | translate}}</label>
                                                <mat-select placeholder="Task Type"
                                                    (selectionChange)="sortingChange($event)"
                                                    formControlName="taskTypeId" class="form-control pt-2"
                                                    [disableOptionCentering]="true" #select4
                                                    [disabled]="actionInfo == 1|| edittrue">
                                                    <mat-select-filter [displayMember]="'value'"
                                                        [array]="projecttypelist"
                                                        (filteredReturn)="filterprojecttypelist =$event"
                                                        *ngIf="select4.focused"></mat-select-filter>
                                                    <mat-option *ngFor="let item of filterprojecttypelist"
                                                        [value]="item.key">
                                                        {{item.value}}
                                                    </mat-option>
                                                </mat-select>
                                                <div class="valid-error"
                                                    *ngIf="form.controls.taskTypeId.errors && (form.controls.taskTypeId.dirty || form.controls.taskTypeId.touched)"
                                                    text-wrap>
                                                    <span *ngIf="form.controls.taskTypeId.errors?.required"
                                                        class="form-text danger mandatory">
                                                        {{'Task Type ' | translate}} {{'IsRequired' | translate}}</span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>{{'Milestone' | translate}}</label>
                                                <mat-select placeholder=" Select Milestone "
                                                    formControlName="milestoneId" class="form-control pt-2"
                                                    [disableOptionCentering]="true" #select5
                                                    [disabled]="actionInfo == 1|| edittrue">
                                                    <mat-select-filter [displayMember]="'value'" [array]="milestonelist"
                                                        (filteredReturn)="filtermilestonelist = $event"
                                                        *ngIf="select5.focused">
                                                    </mat-select-filter>
                                                    <mat-option *ngFor="let item of filtermilestonelist"
                                                        [value]="item.key">
                                                        {{item.value}}
                                                    </mat-option>
                                                </mat-select>
                                                <!-- <div class="valid-error"
                                                    *ngIf="form.controls.milestoneId.errors && (form.controls.milestoneId.dirty || form.controls.milestoneId.touched)"
                                                    text-wrap>
                                                    <span *ngIf="form.controls.milestoneId.errors?.required"
                                                        class="form-text danger mandatory">
                                                        {{'Milestone ' | translate}} {{'IsRequired' | translate}}</span>
                                                </div> -->
                                                <!-- <p *ngFor="let item of projectSortList">{{item.value}}</p> -->
                                            </div>
                                        </div>


                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>{{'Module' | translate}}</label>
                                                <mat-select placeholder=" Select Module " formControlName="moduleId"
                                                    class="form-control pt-2" [disableOptionCentering]="true" #select6
                                                    [disabled]="actionInfo == 1|| edittrue">
                                                    <mat-select-filter [displayMember]="'value'" [array]="modulelist"
                                                        (filteredReturn)="filtermodulelist = $event"
                                                        *ngIf="select6.focused">
                                                    </mat-select-filter>
                                                    <mat-option *ngFor="let item of filtermodulelist"
                                                        [value]="item.key">
                                                        {{item.value}}
                                                    </mat-option>
                                                </mat-select>
                                                <!-- <div class="valid-error"
                                                    *ngIf="form.controls.moduleId.errors && (form.controls.moduleId.dirty || form.controls.moduleId.touched)"
                                                    text-wrap>
                                                    <span *ngIf="form.controls.moduleId.errors?.required"
                                                        class="form-text danger mandatory">
                                                        {{'Module ' | translate}} {{'IsRequired' | translate}}</span>
                                                </div> -->
                                                <!-- <p *ngFor="let item of projectSortList">{{item.value}}</p> -->
                                            </div>
                                        </div>



                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="mandatory ">{{' Short Description' | translate}}</label>
                                                <textarea type="text" class="form-control" maxlength="250"
                                                    [readOnly]="actionInfo == 1|| edittrue" placeholder=" Short Description"
                                                    formControlName="shortDescription" autocomplete="off">
                                                </textarea>
                                                <div class="valid-error"
                                                    *ngIf="form.controls.shortDescription.errors && (form.controls.shortDescription.dirty || form.controls.shortDescription.touched)"
                                                    text-wrap>
                                                    <span *ngIf="form.controls.shortDescription.errors?.required"
                                                        class="form-text  danger mandatory">
                                                        {{'Short Description' | translate}} {{'IsRequired' |
                                                        translate}}</span>

                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="mandatory ">{{'Long Description' | translate}}</label>
                                                <textarea type="text" class="form-control" maxlength="250"
                                                    [readOnly]="actionInfo == 1|| edittrue" placeholder="Long Description"
                                                    formControlName="longDescription" autocomplete="off">
                                                </textarea>
                                                <div class="valid-error"
                                                    *ngIf="form.controls.longDescription.errors && (form.controls.longDescription.dirty || form.controls.longDescription.touched)"
                                                    text-wrap>
                                                    <span *ngIf="form.controls.longDescription.errors?.required"
                                                        class="form-text  danger mandatory">
                                                        {{'Long Description' | translate}} {{'IsRequired' |
                                                        translate}}</span>

                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="mandatory ">{{'Lead Comment' | translate}}</label>
                                                <textarea type="text" class="form-control" maxlength="250"
                                                    [readOnly]="actionInfo == 1|| edittrue" placeholder="Lead Comment"
                                                    formControlName="leadComment" autocomplete="off">
                                                </textarea>
                                                <div class="valid-error"
                                                    *ngIf="form.controls.leadComment.errors && (form.controls.leadComment.dirty || form.controls.leadComment.touched)"
                                                    text-wrap>
                                                    <span *ngIf="form.controls.leadComment.errors?.required"
                                                        class="form-text  danger mandatory">
                                                        {{'Lead Comment' | translate}} {{'IsRequired' |
                                                        translate}}</span>

                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>{{'Developer Comment' | translate}}</label>
                                                <textarea type="text" class="form-control" maxlength="250"
                                                    [readOnly]="actionInfo == 1" placeholder="Developer Comment"
                                                    formControlName="developerComments" autocomplete="off">
                                                </textarea>
                                                <!-- <div class="valid-error"
                                                    *ngIf="form.controls.developerComments.errors && (form.controls.developerComments.dirty || form.controls.developerComments.touched)"
                                                    text-wrap>
                                                    <span *ngIf="form.controls.developerComments.errors?.required"
                                                        class="form-text  danger mandatory">
                                                        {{'Developer Comment' | translate}} {{'IsRequired' |
                                                        translate}}</span>
    
                                                </div> -->
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="mandatory ">{{'Task Status' | translate}}</label>
                                                <mat-select placeholder=" Select Priority "
                                                    formControlName="taskStatusId" class="form-control pt-2"
                                                    [disableOptionCentering]="true" #clicked
                                                    [disabled]="actionInfo == 1">
                                                    <mat-select-filter [displayMember]="'value'"
                                                        [array]="taskstatuslist"
                                                        (filteredReturn)="filtertaskstatuslist = $event"
                                                        *ngIf="clicked.focused">
                                                    </mat-select-filter>
                                                    <mat-option *ngFor="let item of filtertaskstatuslist"
                                                        [value]="item.key">
                                                        {{item.value}}
                                                    </mat-option>
                                                </mat-select>
                                                <div class="valid-error"
                                                    *ngIf="form.controls.taskStatusId.errors && (form.controls.taskStatusId.dirty || form.controls.taskStatusId.touched)"
                                                    text-wrap>
                                                    <span *ngIf="form.controls.taskStatusId.errors?.required"
                                                        class="form-text danger mandatory">
                                                        {{'Module ' | translate}} {{'IsRequired' | translate}}</span>
                                                </div>
                                                <!-- <p *ngFor="let item of projectSortList">{{item.value}}</p> -->
                                            </div>
                                        </div>

                                    </div>
                                </fieldset>

                                <div class="form-actions mb-2 mt-3" style="float: right;">

                                    <button type="reset" class="btn btn-raised btn-warning mr-1 btncancel"
                                        (click)="onClear()" *ngIf="this.id ==0 && actionInfo==0">
                                        <i class="btn-icon-prepend fa fa-refresh"></i>
                                        {{'Clear' | translate}}
                                    </button>
                                    &nbsp;
                                    <button
                                        [ngClass]="id === 0 ? 'btn btn-primary mr-1 btnsave':'btn btn-primary mr-1 btnupdate'"
                                        type="submit" (click)="onSubmit()" *ngIf="actionInfo !=1">
                                        <i class="fa fa-save"></i>
                                        {{submitbtn | translate}}
                                    </button>
                                    &nbsp;
                                    <button type="reset" class="btn btn-raised btn-warning mr-1 btncancel"
                                        (click)="onCancel()">
                                        <i class="fa fa-close"></i>
                                        {{'Cancel' | translate}}
                                    </button>
                                </div>


                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>