.custom-dropdown {
    ::ng-deep .dropdown-btn .dropdown-multiselect__caret::before {
        position: relative !important;
        right: 0 !important;
        top: 54% !important;
        color: #000036 !important;
        margin-top: 4px !important;
        border-style: solid !important;
        border-width: 5px 5px 0 !important;
        border-color: #000036 transparent !important;
        content: "" !important;
        opacity: 0.6;
    }
}


.custom-dropdown {
    ::ng-deep .dropdown-btn {
        border: 1px solid #ced4da !important;
        color: #d0cdd2 !important;
        background-color: #ffffff;
    }
}