<div class="d-flex justify-content-between align-items-center flex-wrap grid-margin">
    <div>
        <h4 class="mb-3 mb-md-0" *ngIf="actionInfo == 0 && id == 0">&nbsp;{{'Add Employee Details' | translate}}</h4>
        <h4 class="mb-3 mb-md-0" *ngIf="actionInfo == 1 ">&nbsp;{{'Employee Details' | translate}}</h4>
        <h4 class="mb-3 mb-md-0" *ngIf="actionInfo == 0 && id != 0">&nbsp;{{'Edit Employee Details' | translate}}</h4>
    </div>
</div>
<div class="row text-left">
    <div class="col-md-12">
        <div class="card">
            <div class="card-content">
                <div class="card-body login-img">
                    <div class="px-3">
                        <form [formGroup]="form" class="form form-horizontal" novalidate>
                            <div class="form-body pt-2">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="mandatory ">{{'Employee Code' | translate}}</label>
                                            <input type="text" class="form-control" formControlName="empCode"
                                                maxlength="4" [disabled]="disab"
                                                [ngClass]="{'disable':actionInfo == 1 || id > 0}"
                                                placeholder="Employee Code" autocomplete="off"
                                                onkeypress='return (event.charCode >= 48 && event.charCode <= 57)'
                                                inputText>
                                            <div class="valid-error"
                                                *ngIf="form.controls.empCode.errors && (form.controls.empCode.dirty || form.controls.empCode.touched)"
                                                text-wrap>
                                                <span *ngIf="form.controls.empCode.errors?.required"
                                                    class="form-text  danger mandatory">
                                                    {{'Employee Code' | translate}} {{'IsRequired' |
                                                    translate}}</span>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="mandatory ">{{'Role' | translate}}</label>
                                            <mat-select aria-label="true" formControlName="roleId"
                                                [disabled]="actionInfo == 1" class="form-control pd"
                                                placeholder="Select Role">
                                                <mat-select-filter [displayMember]="'value'" [array]="roleList"
                                                    (filteredReturn)="filterroleType =$event">
                                                </mat-select-filter>
                                                <mat-option *ngFor="let item of filterroleType" [value]="item.key"
                                                    class="disp">
                                                    {{item.value}}
                                                </mat-option>
                                            </mat-select>
                                            <div class="valid-error"
                                                *ngIf="form.controls.roleId.errors && (form.controls.roleId.dirty || form.controls.roleId.touched)"
                                                text-wrap>
                                                <span *ngIf="form.controls.roleId.errors?.required"
                                                    class="form-text  danger mandatory">
                                                    {{'Role ' | translate}} {{'IsRequired' | translate}}</span>

                                            </div>
                                        </div>
                                    </div>
                                    <!-- </div>
                                <div class="row"> -->
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="mandatory ">{{'First Name' | translate}}</label>
                                            <input type="text" class="form-control" formControlName="firstName"
                                                [disabled]="disab" [ngClass]="{'disable':actionInfo == 1 || id>0}"
                                                placeholder="First Name" autocomplete="off" inputText>
                                            <div class="valid-error"
                                                *ngIf="form.controls.firstName.errors && (form.controls.firstName.dirty || form.controls.firstName.touched)"
                                                text-wrap>
                                                <span *ngIf="form.controls.firstName.errors?.required"
                                                    class="form-text  danger mandatory">
                                                    {{'First Name' | translate}} {{'IsRequired' | translate}}</span>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="mandatory ">{{'Last Name' | translate}}</label>
                                            <input type="text" class="form-control " formControlName="lastName"
                                                [disabled]="disab" [ngClass]="{'disable':actionInfo == 1 || id>0}"
                                                placeholder="Last Name" autocomplete="off" inputText>
                                            <div class="valid-error"
                                                *ngIf="form.controls.lastName.errors && (form.controls.lastName.dirty || form.controls.lastName.touched)"
                                                text-wrap>
                                                <span *ngIf="form.controls.lastName.errors?.required"
                                                    class="form-text  danger mandatory">
                                                    {{'Last Name' | translate}} {{'IsRequired' | translate}}</span>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="mandatory ">{{'Gender' | translate}}</label>
                                            <mat-select aria-label="true" formControlName="gender"
                                                [disabled]="actionInfo == 1" class="form-control pd"
                                                placeholder="Select Gender">
                                                <mat-select-filter [displayMember]="'value'" [array]="genderList"
                                                    (filteredReturn)="filtergenderList =$event">
                                                </mat-select-filter>
                                                <mat-option *ngFor="let item of filtergenderList" [value]="item.key"
                                                    class="disp">
                                                    {{item.value}}
                                                </mat-option>
                                            </mat-select>
                                            <div class="valid-error"
                                                *ngIf="form.controls.gender.errors && (form.controls.gender.dirty || form.controls.gender.touched)"
                                                text-wrap>
                                                <span *ngIf="form.controls.gender.errors?.required"
                                                    class="form-text  danger mandatory">
                                                    {{'Gender' | translate}} {{'IsRequired' | translate}}</span>

                                            </div>
                                        </div>
                                    </div>
                                    <!-- </div> -->
                                    <!-- <div class="row"> -->

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="mandatory ">{{'Actual DOB' | translate}}</label>
                                            <div class="input-group mb-0 ">
                                                <input class="form-control" placeholder="Select Actual DOB" [max]="date"
                                                    formControlName="dateOfBirth" [owlDateTimeTrigger]="dt1"
                                                    [disabled]="actionInfo == 1" [owlDateTime]="dt1">
                                                <owl-date-time [pickerType]="'calendar'" #dt1>
                                                </owl-date-time>
                                                <div class="input-group-append">
                                                    <span class="trigger input-group-text" [owlDateTimeTrigger]="dt1">
                                                        <i class="fa fa-calendar-check-o"></i>
                                                    </span>
                                                    <owl-date-time [pickerType]="'calendar'" #dt1>
                                                    </owl-date-time>
                                                </div>
                                            </div>
                                            <div class="valid-error"
                                                *ngIf="form.controls.dateOfBirth.errors && (form.controls.dateOfBirth.dirty || form.controls.dateOfBirth.touched)"
                                                text-wrap>
                                                <span *ngIf="form.controls.dateOfBirth.errors?.required"
                                                    class="form-text  danger mandatory">
                                                    {{'Actual DOB' | translate}} {{'IsRequired' | translate}}</span>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="mandatory ">{{'Email' | translate}}</label>
                                            <input type="email" class="form-control " formControlName="email"
                                                placeholder="Email" autocomplete="off"
                                                [ngClass]="{'disable':actionInfo == 1}"
                                                pattern="^[_A-Za-z0-9-]+(\.[_A-Za-z0-9-]+)*@[A-Za-z0-9-]+(\.[A-Za-z0-9-]+)*(\.[A-Za-z]{2,4})$"
                                                inputText>
                                            <div class="valid-error"
                                                *ngIf="form.controls.email.errors && (form.controls.email.dirty || form.controls.email.touched)"
                                                text-wrap>
                                                <span *ngIf="form.controls.email.errors?.required"
                                                    class="form-text  danger mandatory">
                                                    {{'Email' | translate}} {{'IsRequired' | translate}}</span>
                                                <span
                                                    *ngIf="form.controls.email.errors?.pattern && (form.controls.email.dirty || form.controls.email.touched)"
                                                    class="form-text  danger mandatory">
                                                    {{'Invalid Email' | translate}} </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="mandatory ">{{'Mobile Number' | translate}}</label>
                                            <input type="text" class="form-control " formControlName="mobile" onlyNumber
                                                [ngClass]="{'disable':actionInfo == 1}" maxlength="10"
                                                placeholder="Mobile Number" autocomplete="off" inputText>
                                            <div class="valid-error"
                                                *ngIf="form.controls.mobile.errors && (form.controls.mobile.dirty || form.controls.mobile.touched)"
                                                text-wrap>
                                                <span *ngIf="form.controls.mobile.errors?.required"
                                                    class="form-text  danger mandatory">
                                                    {{'Mobile Number' | translate}} {{'IsRequired' | translate}}</span>

                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="mandatory ">{{'Joining Date' | translate}}</label>
                                            <div class="input-group mb-0 ">
                                                <input class="form-control" placeholder="Select Joining Date"
                                                    [max]="date" [disabled]="actionInfo == 1"
                                                    formControlName="joiningDate" [owlDateTimeTrigger]="dt2"
                                                    [disabled]="disab" [owlDateTime]="dt2">
                                                <owl-date-time [pickerType]="'calendar'" #dt2>
                                                </owl-date-time>
                                                <div class="input-group-append">
                                                    <span class="trigger input-group-text" [owlDateTimeTrigger]="dt2">
                                                        <i class="fa fa-calendar-check-o"></i>
                                                    </span>
                                                    <owl-date-time [pickerType]="'calendar'" #dt2>
                                                    </owl-date-time>
                                                </div>
                                            </div>
                                            <div class="valid-error"
                                                *ngIf="form.controls.joiningDate.errors && (form.controls.joiningDate.dirty || form.controls.joiningDate.touched)"
                                                text-wrap>
                                                <span *ngIf="form.controls.joiningDate.errors?.required"
                                                    class="form-text  danger mandatory">
                                                    {{'Joining Date' | translate}} {{'IsRequired' | translate}}</span>

                                            </div>
                                        </div>
                                    </div>
                                    <!-- </div> -->
                                    <!-- <div class="row"> -->
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="">{{'Marriage Date' | translate}}</label>
                                            <div class="input-group mb-0 ">
                                                <input class="form-control" placeholder="Select Marriage Date"
                                                    [disabled]="actionInfo == 1" formControlName="marriageDate"
                                                    [owlDateTimeTrigger]="dt3" [max]="date" [owlDateTime]="dt3">
                                                <owl-date-time [pickerType]="'calendar'" #dt3>
                                                </owl-date-time>
                                                <div class="input-group-append">
                                                    <span class="trigger input-group-text" [owlDateTimeTrigger]="dt3">
                                                        <i class="fa fa-calendar-check-o"></i>
                                                    </span>
                                                    <owl-date-time [pickerType]="'calendar'" #dt3>
                                                    </owl-date-time>
                                                </div>
                                            </div>
                                            <div class="valid-error"
                                                *ngIf="form.controls.marriageDate.errors && (form.controls.marriageDate.dirty || form.controls.marriageDate.touched)"
                                                text-wrap>
                                                <span *ngIf="form.controls.marriageDate.errors?.required"
                                                    class="form-text  danger mandatory">
                                                    {{'Marriage Date' | translate}} {{'IsRequired' | translate}}</span>

                                            </div>
                                        </div>
                                    </div>
                                    <!-- <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="mandatory ">{{'Short Name' | translate}}</label>
                                            <input type="text" class="form-control " formControlName="empShortName" [ngClass]="{'disable':actionInfo == 1}"
                                                placeholder="Short Name" autocomplete="off" inputText>
                                            <div class="valid-error"
                                                *ngIf="form.controls.empShortName.errors && (form.controls.empShortName.dirty || form.controls.empShortName.touched)"
                                                text-wrap>
                                                <span *ngIf="form.controls.empShortName.errors?.required"
                                                    class="form-text  danger mandatory">
                                                    {{'Short Name' | translate}} {{'IsRequired' | translate}}</span>

                                            </div>
                                        </div>
                                    </div> -->
                                    <!-- </div> -->

                                    <!-- <div class="row"> -->
                                    <!-- <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="mandatory ">{{'Project' | translate}}</label>
                                            <mat-select aria-label="true" formControlName="defaultProjectId" [disabled]="actionInfo == 1"
                                                class="form-control pd" placeholder="Select Project">
                                                <mat-select-filter [displayMember]="'value'" [array]="projectList"
                                                    (filteredReturn)="filterprojectList =$event">
                                                </mat-select-filter>
                                                <mat-option *ngFor="let item of filterprojectList" [value]="item.key"
                                                    class="disp">
                                                    {{item.value}}
                                                </mat-option>
                                            </mat-select>
                                            <div class="valid-error"
                                                *ngIf="form.controls.defaultProjectId.errors && (form.controls.defaultProjectId.dirty || form.controls.defaultProjectId.touched)"
                                                text-wrap>
                                                <span *ngIf="form.controls.defaultProjectId.errors?.required"
                                                    class="form-text  danger mandatory">
                                                    {{'Project' | translate}} {{'IsRequired' | translate}}</span>

                                            </div>
                                        </div>
                                    </div> -->
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="mandatory">Project</label>
                                            <ng-multiselect-dropdown [disabled]="id != 0  "
                                                formControlName="projectId" placeholder="Select Project"
                                                [settings]="dropdownSettings"
                                                (onSelect)="getDefaultProjectList($event,1)"
                                                (onDeSelect)="getDefaultProjectList($event,2)" [data]='projectList'>
                                            </ng-multiselect-dropdown>

                                            <div class="valid-error"
                                                *ngIf="form.controls.projectId.errors && (form.controls.projectId.dirty || form.controls.projectId.touched)"
                                                text-wrap>
                                                <span *ngIf="form.controls.projectId.errors?.required"
                                                    class="form-text danger mandatory">
                                                    {{'Project' | translate}} {{'IsRequired' | translate}}</span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="mandatory ">{{'Default Project' | translate}}</label>
                                            <mat-select aria-label="true" formControlName="defaultProjectId"
                                                [disabled]="actionInfo == 1" class="form-control pd"
                                                placeholder="Select Default Project">
                                                <mat-select-filter [displayMember]="'value'"
                                                    [array]="defaultProjectList"
                                                    (filteredReturn)="filterdefaultProjectList =$event">
                                                </mat-select-filter>
                                                <mat-option *ngFor="let item of filterdefaultProjectList"
                                                    [value]="item.key">
                                                    {{item.value}}
                                                </mat-option>
                                            </mat-select>
                                            <div class="valid-error"
                                                *ngIf="form.controls.defaultProjectId.errors && (form.controls.defaultProjectId.dirty || form.controls.defaultProjectId.touched)"
                                                text-wrap>
                                                <span *ngIf="form.controls.defaultProjectId.errors?.required"
                                                    class="form-text  danger mandatory">
                                                    {{'Default Project' | translate}} {{'IsRequired' |
                                                    translate}}</span>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="mandatory ">{{'Work Location' | translate}}</label>
                                            <mat-select aria-label="true" formControlName="locationId"
                                                [disabled]="actionInfo == 1" class="form-control pd"
                                                placeholder="Select Work Location">
                                                <mat-select-filter [displayMember]="'value'" [array]="locationList"
                                                    (filteredReturn)="filterlocationList =$event">
                                                </mat-select-filter>
                                                <mat-option *ngFor="let item of filterlocationList" [value]="item.key"
                                                    class="disp">
                                                    {{item.value}}
                                                </mat-option>
                                            </mat-select>
                                            <div class="valid-error"
                                                *ngIf="form.controls.locationId.errors && (form.controls.locationId.dirty || form.controls.locationId.touched)"
                                                text-wrap>
                                                <span *ngIf="form.controls.locationId.errors?.required"
                                                    class="form-text  danger mandatory">
                                                    {{'Work Location' | translate}} {{'IsRequired' | translate}}</span>

                                            </div>
                                        </div>
                                    </div>

                                    <!-- </div> -->

                                    <!-- <div class="row"> -->
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="mandatory ">{{'Designation' | translate}}</label>
                                            <mat-select aria-label="true" formControlName="designationTypeId"
                                                [disabled]="actionInfo == 1" class="form-control pd"
                                                placeholder="Select Designation">
                                                <mat-select-filter [displayMember]="'value'" [array]="designationList"
                                                    (filteredReturn)="filterdesignationList =$event">
                                                </mat-select-filter>
                                                <mat-option *ngFor="let item of filterdesignationList"
                                                    [value]="item.key" class="disp">
                                                    {{item.value}}
                                                </mat-option>
                                            </mat-select>
                                            <div class="valid-error"
                                                *ngIf="form.controls.designationTypeId.errors && (form.controls.designationTypeId.dirty || form.controls.designationTypeId.touched)"
                                                text-wrap>
                                                <span *ngIf="form.controls.designationTypeId.errors?.required"
                                                    class="form-text  danger mandatory">
                                                    {{'Designation' | translate}} {{'IsRequired' | translate}}</span>

                                            </div>
                                        </div>
                                    </div>

                                    <!-- </div> -->

                                    <!-- <div class="row"> -->

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="mandatory ">{{'Reporting Person' | translate}}</label>
                                            <mat-select aria-label="true" formControlName="reportingPersonId"
                                                [ngClass]="{'disable':actionInfo == 1}" class="form-control pd"
                                                placeholder="Select Reporting Person">
                                                <mat-select-filter [displayMember]="'value'" [array]="reportingList"
                                                    (filteredReturn)="filterreportingList =$event">
                                                </mat-select-filter>
                                                <mat-option *ngFor="let item of filterreportingList" [value]="item.key"
                                                    class="disp">
                                                    {{item.value}}
                                                </mat-option>
                                            </mat-select>
                                            <div class="valid-error"
                                                *ngIf="form.controls.reportingPersonId.errors && (form.controls.reportingPersonId.dirty || form.controls.reportingPersonId.touched)"
                                                text-wrap>
                                                <span *ngIf="form.controls.reportingPersonId.errors?.required"
                                                    class="form-text  danger mandatory">
                                                    {{'Reporting Person' | translate}} {{'IsRequired' |
                                                    translate}}</span>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class=" ">{{'Secondary Reporting Person' | translate}}</label>
                                            <mat-select aria-label="true" formControlName="secondryReportPerson"
                                                [ngClass]="{'disable':actionInfo == 1}" class="form-control pd"
                                                placeholder="Select Secondary Reporting Person">
                                                <mat-select-filter [displayMember]="'value'"
                                                    [array]="secondaryreportingList"
                                                    (filteredReturn)="filtersecondaryreportingList =$event">
                                                </mat-select-filter>
                                                <mat-option *ngFor="let item of filtersecondaryreportingList"
                                                    [value]="item.key" class="disp">
                                                    {{item.value}}
                                                </mat-option>
                                            </mat-select>
                                            <div class="valid-error"
                                                *ngIf="form.controls.secondryReportPerson.errors && (form.controls.secondryReportPerson.dirty || form.controls.secondryReportPerson.touched)"
                                                text-wrap>
                                                <span *ngIf="form.controls.secondryReportPerson.errors?.required"
                                                    class="form-text  danger mandatory">
                                                    {{'Secondary Reporting Person' | translate}} {{'IsRequired' |
                                                    translate}}</span>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6" *ngIf="!disab">
                                        <div class="form-group">
                                            <label class="mandatory ">{{'Password' | translate}}</label>
                                            <input type="text" class="form-control " formControlName="stringPswrd"
                                                (blur)="encrypt()" placeholder="Password" autocomplete="off" inputText>
                                            <div class="valid-error"
                                                *ngIf="form.controls.stringPswrd.errors && (form.controls.stringPswrd.dirty || form.controls.stringPswrd.touched)"
                                                text-wrap>
                                                <span *ngIf="form.controls.stringPswrd.errors?.required"
                                                    class="form-text  danger mandatory">
                                                    {{'Password' | translate}} {{'IsRequired' | translate}}</span>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="mandatory ">{{'Address' | translate}}</label>
                                            <textarea type="text" [ngClass]="{'disable':actionInfo == 1}"
                                                class="form-control" maxlength="250" [disabled]="actionInfo == 1"
                                                placeholder="Address" formControlName="address" autocomplete="off">
                                            </textarea>
                                            <div class="valid-error"
                                                *ngIf="form.controls.address.errors && (form.controls.address.dirty || form.controls.address.touched)"
                                                text-wrap>
                                                <span *ngIf="form.controls.address.errors?.required"
                                                    class="form-text  danger mandatory">
                                                    {{'Address' | translate}} {{'IsRequired' | translate}}</span>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="mandatory">Excluded from timesheet &nbsp;</label> <br>
                                            <mat-radio-group [disabled]="actionInfo == 1" aria-label="Select an option"
                                                (change)="changeOptions($event)" formControlName="fillTimesheet"
                                                required>
                                                <mat-radio-button value="1" [checked]="timeSheetTrue">Yes
                                                </mat-radio-button>&nbsp;
                                                <mat-radio-button value="2" [checked]="timeSheetFalse">No
                                                </mat-radio-button>
                                            </mat-radio-group>
                                            <div class="valid-error"
                                                *ngIf="form.controls.fillTimesheet.errors && (form.controls.fillTimesheet.dirty || form.controls.fillTimesheet.touched)"
                                                text-wrap>
                                                <span *ngIf="form.controls.fillTimesheet.errors?.required"
                                                    class="form-text  danger mandatory">
                                                    {{'Excluded from timesheet' | translate}} {{'IsRequired' |
                                                    translate}}</span>

                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div class="form-actions mb-2 mt-3" style="float: right;">
                                    <button type="reset" class="btn btn-raised btn-warning mr-1 btncancel"
                                        (click)="onCancel()">
                                        <i class="fa fa-close"></i>
                                        {{'Cancel' | translate}}
                                    </button>
                                    <button *ngIf=formEditMode
                                        [ngClass]="id === 0 ? 'btn btn-primary mr-1 btnsave':'btn btn-primary mr-1 btnupdate'"
                                        type="submit" (click)="onSubmit()">
                                        <i class="fa fa-save"></i>
                                        {{submitbtn | translate}}
                                    </button>
                                </div>


                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>