<div class="pl-1 pr-1 mb-1">
    <div class="row d-flex justify-content-between align-items-center flex-wrap grid-margin">
        <div class="col-md-10 col-sm-12">
            <h4 class="text-bold-500 text-left hearder-text">
                Employee Details
            </h4>
        </div>
        <div class="d-flex align-items-center flex-wrap text-nowrap">
            <button type="button" matRipple class="btn btnadd mr-2 mb-2" (click)="goToAction(0,0)">
                <i class="btn-icon-prepend fa fa-plus"></i>
                {{'Add' | translate}}
            </button>
            <button type="button" matRipple class="btn btnrefresh mr-2 mb-2" (click)="refresh()">
                <i class="btn-icon-prepend fa fa-refresh"></i>
                {{'Refresh' | translate}}
            </button>
            <!-- <button type="button" matRipple class="btn btnexportexcel mb-2" (click)="onExportExcel()">
              <i class="btn-icon-prepend fa fa-file-excel-o"></i>
              {{'ExportExcel' | translate}}
            </button> -->
        </div>
    </div>
</div>
<div *ngIf="loading" class="loadesr"></div>
<mat-form-field class="mb-0 col-sm-12 col-md-12 col-lg-12 col-xl-12">
    <input id="search" matInput (keyup)="applyFilter($event)" placeholder="{{'Search'}}" #searchInput>
</mat-form-field>
<div class="table-responsive">
    <mat-table #table [dataSource]="dataSource" matSort matSortDirection="asc">

        <ng-container matColumnDef="empCode">
            <mat-header-cell *matHeaderCellDef mat-sort-header="empCode">{{'Employee ID' |
                translate}}
            </mat-header-cell>
            <mat-cell *matCellDef="let dataField">
                <p class="text-truncate txtalign lbl-pointer">{{dataField.empCode}}</p>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="firstName">
            <mat-header-cell *matHeaderCellDef mat-sort-header="firstName">{{'Employee Name' | translate}}
            </mat-header-cell>
            <mat-cell *matCellDef="let dataField">
                <p class="text-truncate txtalign lbl-pointer">{{dataField.firstName}}</p>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="joiningDate">
            <mat-header-cell *matHeaderCellDef mat-sort-header="joiningDate">{{'Joining Date' | translate}}
            </mat-header-cell>
            <mat-cell *matCellDef="let dataField">
                <p class="text-truncate txtalign lbl-pointer">{{dataField.joiningDate}}</p>
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="mobile">
            <mat-header-cell *matHeaderCellDef mat-sort-header="mobile">{{'Mobile' | translate}}
            </mat-header-cell>
            <mat-cell *matCellDef="let dataField">
                <p class="text-truncate txtalign lbl-pointer">{{dataField.mobile }}</p>
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="email">
            <mat-header-cell *matHeaderCellDef mat-sort-header="email">{{'Email' | translate}}
            </mat-header-cell>
            <mat-cell *matCellDef="let dataField">
                <p class="text-truncate txtalign lbl-pointer">{{dataField.email}}</p>
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="designation">
            <mat-header-cell *matHeaderCellDef mat-sort-header="designation">{{'Designation' | translate}}
            </mat-header-cell>
            <mat-cell *matCellDef="let dataField">
                <p class="text-truncate txtalign lbl-pointer">{{dataField.designation}}</p>
            </mat-cell>
        </ng-container>
        <ng-container fxFlex="10" matColumnDef="action">
            <mat-header-cell *matHeaderCellDef align="center">{{'Actions' | translate}}</mat-header-cell>
            <mat-cell *matCellDef="let dataField" class="button-bar">

                <button data-toggle="tooltip" data-placement="right" matTooltip="{{'Edit'|translate}}"
                matTooltipClass="tooltip-edit" matTooltipPosition="right" mat-icon-button color="accent"
                (click)="goToAction(dataField.id,0)">
                <i class="fa fa-edit fa-2x"></i>
            </button>

                <button data-toggle="tooltip" data-placement="right" matTooltip="{{'View'|translate}}"
                    matTooltipClass="tooltip-edit" matTooltipPosition="right" mat-icon-button color="accent"
                    (click)="goToAction(dataField.id,1)">
                    <i class="fa fa-eye fa-2x"></i>
                </button>

            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></mat-header-row>

        <mat-row *matRowDef="let row; columns: displayedColumns;" matRipple>
        </mat-row>
    </mat-table>
</div>
<mat-paginator #paginator [length]="dataSource!=null && dataSource.filteredData.length" [pageIndex]="0" [pageSize]="10"
    [pageSizeOptions]="[10, 25, 50, 100]">
</mat-paginator><br>
