<div class="d-flex justify-content-between align-items-center flex-wrap grid-margin">
    <div>
        <h4 class="mb-3 mb-md-0" *ngIf="actionInfo == 0 && id == 0">&nbsp;{{'Add Employee Details' | translate}}</h4>
        <h4 class="mb-3 mb-md-0" *ngIf="actionInfo == 1 ">&nbsp;{{'Employee Details' | translate}}</h4>
        <h4 class="mb-3 mb-md-0" *ngIf="actionInfo == 0 && id != 0">&nbsp;{{'Edit Employee Details' | translate}}</h4>
    </div>
</div>
<div class="row text-left">
    <div class="col-md-12">
        <div class="card">
            <div class="card-content">
                <div class="card-body login-img">
                    <div class="px-3">
                        <form [formGroup]="form" class="form form-horizontal" novalidate>
                            <div class="form-body pt-2">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="mandatory ">{{'Employee Number' | translate}}</label>
                                            <input type="text" class="form-control " formControlName="EmpCode"
                                                placeholder="Employee Number" autocomplete="off" inputText>
                                            <div class="valid-error"
                                                *ngIf="form.controls.EmpCode.errors && (form.controls.EmpCode.dirty || form.controls.EmpCode.touched)"
                                                text-wrap>
                                                <span *ngIf="form.controls.EmpCode.errors?.required"
                                                    class="form-text  danger mandatory">
                                                    {{'Employee Number' | translate}} {{'IsRequired' |
                                                    translate}}</span>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="mandatory ">{{'Role Type' | translate}}</label>
                                            <mat-select aria-label="true" formControlName="RoleId"
                                                class="form-control pd" placeholder="Select Role Type">
                                                <mat-select-filter [displayMember]="'value'"
                                                    [array]="roleList" (filteredReturn)="filterroleType =$event">
                                                </mat-select-filter>
                                                <mat-option *ngFor="let item of filterroleType" [value]="item.key"
                                                    class="disp">
                                                    {{item.value}}
                                                </mat-option>
                                            </mat-select>
                                            <div class="valid-error"
                                                *ngIf="form.controls.RoleId.errors && (form.controls.RoleId.dirty || form.controls.RoleId.touched)"
                                                text-wrap>
                                                <span *ngIf="form.controls.RoleId.errors?.required"
                                                    class="form-text  danger mandatory">
                                                    {{'Role Type' | translate}} {{'IsRequired' | translate}}</span>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="mandatory ">{{'First Name' | translate}}</label>
                                            <input type="text" class="form-control " formControlName="FirstName"
                                                placeholder="First Name" autocomplete="off" inputText>
                                            <div class="valid-error"
                                                *ngIf="form.controls.FirstName.errors && (form.controls.FirstName.dirty || form.controls.FirstName.touched)"
                                                text-wrap>
                                                <span *ngIf="form.controls.FirstName.errors?.required"
                                                    class="form-text  danger mandatory">
                                                    {{'First Name' | translate}} {{'IsRequired' | translate}}</span>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="mandatory ">{{'Last Name' | translate}}</label>
                                            <input type="text" class="form-control " formControlName="LastName"
                                                placeholder="Last Name" autocomplete="off" inputText>
                                            <div class="valid-error"
                                                *ngIf="form.controls.LastName.errors && (form.controls.LastName.dirty || form.controls.LastName.touched)"
                                                text-wrap>
                                                <span *ngIf="form.controls.LastName.errors?.required"
                                                    class="form-text  danger mandatory">
                                                    {{'Last Name' | translate}} {{'IsRequired' | translate}}</span>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="mandatory ">{{'Mobile Number' | translate}}</label>
                                            <input type="text" class="form-control " formControlName="Mobile" onlyNumber
                                               maxlength="10" placeholder="Mobile Number" autocomplete="off" inputText>
                                            <div class="valid-error"
                                                *ngIf="form.controls.Mobile.errors && (form.controls.Mobile.dirty || form.controls.Mobile.touched)"
                                                text-wrap>
                                                <span *ngIf="form.controls.Mobile.errors?.required"
                                                    class="form-text  danger mandatory">
                                                    {{'mobile' | translate}} {{'IsRequired' | translate}}</span>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="mandatory ">{{'Email' | translate}}</label>
                                            <input type="email" class="form-control " formControlName="Email"
                                                placeholder="Email" autocomplete="off"
                                                pattern="^[_A-Za-z0-9-]+(\.[_A-Za-z0-9-]+)*@[A-Za-z0-9-]+(\.[A-Za-z0-9-]+)*(\.[A-Za-z]{2,4})$" inputText>
                                            <div class="valid-error"
                                                *ngIf="form.controls.Email.errors && (form.controls.Email.dirty || form.controls.Email.touched)"
                                                text-wrap>
                                                <span *ngIf="form.controls.Email.errors?.required"
                                                    class="form-text  danger mandatory">
                                                    {{'Email' | translate}} {{'IsRequired' | translate}}</span>
                                                    <span *ngIf="form.controls.Email.errors?.pattern && (form.controls.Email.dirty || form.controls.Email.touched)"
                                                    class="form-text  danger mandatory">
                                                    {{'Invalid Email' | translate}} </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="mandatory ">{{'SVN Username' | translate}}</label>
                                            <input type="text" class="form-control " formControlName="SvnUserName"
                                                placeholder="SVN Username" autocomplete="off" inputText>
                                            <div class="valid-error"
                                                *ngIf="form.controls.SvnUserName.errors && (form.controls.SvnUserName.dirty || form.controls.SvnUserName.touched)"
                                                text-wrap>
                                                <span *ngIf="form.controls.SvnUserName.errors?.required"
                                                    class="form-text  danger mandatory">
                                                    {{'SVN Username' | translate}} {{'IsRequired' | translate}}</span>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="mandatory ">{{'SVN Password' | translate}}</label>
                                            <input type="text" class="form-control " formControlName="SvnPassword"
                                                placeholder="SVN Password" autocomplete="off" inputText>
                                            <div class="valid-error"
                                                *ngIf="form.controls.SvnPassword.errors && (form.controls.SvnPassword.dirty || form.controls.SvnPassword.touched)"
                                                text-wrap>
                                                <span *ngIf="form.controls.SvnPassword.errors?.required"
                                                    class="form-text  danger mandatory">
                                                    {{'SVN Password' | translate}} {{'IsRequired' | translate}}</span>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="mandatory ">{{'DOB' | translate}}</label>
                                            <div class="input-group mb-0 ">
                                                <input class="form-control" placeholder="Select DOB" [max]="date"
                                                    formControlName="DateOfBirth" [owlDateTimeTrigger]="dt1"
                                                    [owlDateTime]="dt1">
                                                <owl-date-time [pickerType]="'calendar'" #dt1>
                                                </owl-date-time>
                                                <div class="input-group-append">
                                                    <span class="trigger input-group-text" [owlDateTimeTrigger]="dt1">
                                                        <i class="fa fa-calendar-check-o"></i>
                                                    </span>
                                                    <owl-date-time [pickerType]="'calendar'" #dt1>
                                                    </owl-date-time>
                                                </div>
                                            </div>
                                            <div class="valid-error"
                                                *ngIf="form.controls.DateOfBirth.errors && (form.controls.DateOfBirth.dirty || form.controls.DateOfBirth.touched)"
                                                text-wrap>
                                                <span *ngIf="form.controls.DateOfBirth.errors?.required"
                                                    class="form-text  danger mandatory">
                                                    {{'DOB' | translate}} {{'IsRequired' | translate}}</span>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="mandatory ">{{'Joining Date' | translate}}</label>
                                            <div class="input-group mb-0 ">
                                                <input class="form-control" placeholder="Select Joining Date" [max]="date"
                                                    formControlName="JoiningDate" [owlDateTimeTrigger]="dt2"
                                                    [owlDateTime]="dt2">
                                                <owl-date-time [pickerType]="'calendar'" #dt2>
                                                </owl-date-time>
                                                <div class="input-group-append">
                                                    <span class="trigger input-group-text" [owlDateTimeTrigger]="dt2">
                                                        <i class="fa fa-calendar-check-o"></i>
                                                    </span>
                                                    <owl-date-time [pickerType]="'calendar'" #dt2>
                                                    </owl-date-time>
                                                </div>
                                            </div>
                                            <div class="valid-error"
                                                *ngIf="form.controls.JoiningDate.errors && (form.controls.JoiningDate.dirty || form.controls.JoiningDate.touched)"
                                                text-wrap>
                                                <span *ngIf="form.controls.JoiningDate.errors?.required"
                                                    class="form-text  danger mandatory">
                                                    {{'Joining Date' | translate}} {{'IsRequired' | translate}}</span>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="mandatory ">{{'Marriage Date' | translate}}</label>
                                            <div class="input-group mb-0 ">
                                                <input class="form-control" placeholder="Select Marriage Date"
                                                    formControlName="MarriageDate" [owlDateTimeTrigger]="dt3" [max]="date"
                                                    [owlDateTime]="dt3">
                                                <owl-date-time [pickerType]="'calendar'" #dt3>
                                                </owl-date-time>
                                                <div class="input-group-append">
                                                    <span class="trigger input-group-text" [owlDateTimeTrigger]="dt3">
                                                        <i class="fa fa-calendar-check-o"></i>
                                                    </span>
                                                    <owl-date-time [pickerType]="'calendar'" #dt3>
                                                    </owl-date-time>
                                                </div>
                                            </div>
                                            <div class="valid-error"
                                                *ngIf="form.controls.MarriageDate.errors && (form.controls.MarriageDate.dirty || form.controls.MarriageDate.touched)"
                                                text-wrap>
                                                <span *ngIf="form.controls.MarriageDate.errors?.required"
                                                    class="form-text  danger mandatory">
                                                    {{'Marriage Date' | translate}} {{'IsRequired' | translate}}</span>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="mandatory ">{{'Short Name' | translate}}</label>
                                            <input type="text" class="form-control " formControlName="EmpShortName"
                                                placeholder="Short Name" autocomplete="off" inputText>
                                            <div class="valid-error"
                                                *ngIf="form.controls.EmpShortName.errors && (form.controls.EmpShortName.dirty || form.controls.EmpShortName.touched)"
                                                text-wrap>
                                                <span *ngIf="form.controls.EmpShortName.errors?.required"
                                                    class="form-text  danger mandatory">
                                                    {{'Short Name' | translate}} {{'IsRequired' | translate}}</span>

                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="mandatory ">{{'Project' | translate}}</label>
                                            <mat-select aria-label="true" formControlName="DefaultProjectId"
                                                class="form-control pd" placeholder="Select Project">
                                                <mat-select-filter [displayMember]="'value'" [array]="projectList"
                                                    (filteredReturn)="filterprojectList =$event">
                                                </mat-select-filter>
                                                <mat-option *ngFor="let item of filterprojectList" [value]="item.key"
                                                    class="disp">
                                                    {{item.value}}
                                                </mat-option>
                                            </mat-select>
                                            <div class="valid-error"
                                                *ngIf="form.controls.DefaultProjectId.errors && (form.controls.DefaultProjectId.dirty || form.controls.DefaultProjectId.touched)"
                                                text-wrap>
                                                <span *ngIf="form.controls.DefaultProjectId.errors?.required"
                                                    class="form-text  danger mandatory">
                                                    {{'Project' | translate}} {{'IsRequired' | translate}}</span>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="mandatory ">{{'Work Location' | translate}}</label>
                                            <mat-select aria-label="true" formControlName="LocationId"
                                                class="form-control pd" placeholder="Select Work Location">
                                                <mat-select-filter [displayMember]="'value'"
                                                    [array]="locationList"
                                                    (filteredReturn)="filterlocationList =$event">
                                                </mat-select-filter>
                                                <mat-option *ngFor="let item of filterlocationList" [value]="item.key"
                                                    class="disp">
                                                    {{item.value}}
                                                </mat-option>
                                            </mat-select>
                                            <div class="valid-error"
                                                *ngIf="form.controls.LocationId.errors && (form.controls.LocationId.dirty || form.controls.LocationId.touched)"
                                                text-wrap>
                                                <span *ngIf="form.controls.LocationId.errors?.required"
                                                    class="form-text  danger mandatory">
                                                    {{'Work Location' | translate}} {{'IsRequired' | translate}}</span>

                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="mandatory ">{{'Designation' | translate}}</label>
                                            <mat-select aria-label="true" formControlName="DesignationTypeId"
                                            class="form-control pd" placeholder="Select Designation">
                                            <mat-select-filter [displayMember]="'value'" [array]="designationList"
                                                (filteredReturn)="filterdesignationList =$event">
                                            </mat-select-filter>
                                            <mat-option *ngFor="let item of filterdesignationList" [value]="item.key"
                                                class="disp">
                                                {{item.value}}
                                            </mat-option>
                                        </mat-select>
                                            <div class="valid-error"
                                                *ngIf="form.controls.DesignationTypeId.errors && (form.controls.DesignationTypeId.dirty || form.controls.DesignationTypeId.touched)"
                                                text-wrap>
                                                <span *ngIf="form.controls.DesignationTypeId.errors?.required"
                                                    class="form-text  danger mandatory">
                                                    {{'Designation' | translate}} {{'IsRequired' | translate}}</span>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="mandatory ">{{'Gender' | translate}}</label>
                                            <mat-select aria-label="true" formControlName="Gender"
                                                class="form-control pd" placeholder="Select Gender">
                                                <mat-select-filter [displayMember]="'value'" [array]="genderList"
                                                    (filteredReturn)="filtergenderList =$event">
                                                </mat-select-filter>
                                                <mat-option *ngFor="let item of filtergenderList" [value]="item.key"
                                                    class="disp">
                                                    {{item.value}}
                                                </mat-option>
                                            </mat-select>
                                            <div class="valid-error"
                                                *ngIf="form.controls.Gender.errors && (form.controls.Gender.dirty || form.controls.Gender.touched)"
                                                text-wrap>
                                                <span *ngIf="form.controls.Gender.errors?.required"
                                                    class="form-text  danger mandatory">
                                                    {{'Gender' | translate}} {{'IsRequired' | translate}}</span>

                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="mandatory ">{{'Reporting Person' | translate}}</label>
                                            <mat-select aria-label="true" formControlName="ReportingPersonId"
                                                class="form-control pd" placeholder="Select Reporting Person">
                                                <mat-select-filter [displayMember]="'value'" [array]="reportingList"
                                                    (filteredReturn)="filterreportingList =$event">
                                                </mat-select-filter>
                                                <mat-option *ngFor="let item of filterreportingList" [value]="item.key"
                                                    class="disp">
                                                    {{item.value}}
                                                </mat-option>
                                            </mat-select>
                                            <div class="valid-error"
                                                *ngIf="form.controls.ReportingPersonId.errors && (form.controls.ReportingPersonId.dirty || form.controls.ReportingPersonId.touched)"
                                                text-wrap>
                                                <span *ngIf="form.controls.ReportingPersonId.errors?.required"
                                                    class="form-text  danger mandatory">
                                                    {{'Reporting Person' | translate}} {{'IsRequired' | translate}}</span>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="mandatory ">{{'Password' | translate}}</label>
                                            <input type="text" class="form-control " formControlName="stringPswrd"
                                                placeholder="Password" autocomplete="off" inputText>
                                            <div class="valid-error"
                                                *ngIf="form.controls.stringPswrd.errors && (form.controls.stringPswrd.dirty || form.controls.stringPswrd.touched)"
                                                text-wrap>
                                                <span *ngIf="form.controls.stringPswrd.errors?.required"
                                                    class="form-text  danger mandatory">
                                                    {{'Password' | translate}} {{'IsRequired' | translate}}</span>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="mandatory ">{{'Address' | translate}}</label>
                                            <textarea type="text" class="form-control" maxlength="250"
                                                placeholder="Address" formControlName="Address" autocomplete="off">
                                     </textarea>
                                            <div class="valid-error"
                                                *ngIf="form.controls.Address.errors && (form.controls.Address.dirty || form.controls.Address.touched)"
                                                text-wrap>
                                                <span *ngIf="form.controls.Address.errors?.required"
                                                    class="form-text  danger mandatory">
                                                    {{'Address' | translate}} {{'IsRequired' | translate}}</span>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4" style="padding-top: 25px;">
                                        <div class="form-check form-check-flat form-check-primary">
                                            <!-- <label class="form-check-label" >
                                                <input type="checkbox" [checked]="checkedTickfill" (click)="fillTimesheet($event)" class="form-check-input"  style="float: right;">
                                                <i class="input-frame"></i>
                                                Need to fill timesheet
                                              </label> -->
                                            <mat-checkbox class="form-check-label cursor-pointer checkboxL"
                                                formControlName="FillTimesheet" (click)="fillTimesheet($event)" #ch>Need to fill timesheet
                                            </mat-checkbox>

                                        </div>
                                        <div class="form-check form-check-flat form-check-primary">
                                            <!-- <label class="form-check-label">
                                                <input type="checkbox" [checked]="checkedTicktActive"
                                                    (click)="isActive($event)" class="form-check-input"
                                                    style="float: right;">
                                                <i class="input-frame"></i>
                                                Is Active
                                            </label> -->
                                            <mat-checkbox class="form-check-label cursor-pointer checkboxL"
                                                formControlName="IsFirstLogin" (click)="isActive($event)"> Is Active
                                            </mat-checkbox>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-actions mb-2 mt-3" style="float: right;">
                                    <button type="reset" class="btn btn-raised btn-warning mr-1 btncancel"
                                        (click)="onCancel()">
                                        <i class="fa fa-close"></i>
                                        {{'Cancel' | translate}}
                                    </button>
                                    <button *ngIf=formEditMode
                                        [ngClass]="id === 0 ? 'btn btn-primary mr-1 btnsave':'btn btn-primary mr-1 btnupdate'"
                                        type="submit" (click)="onSubmit()">
                                        <i class="fa fa-save"></i>
                                        {{submitbtn | translate}}
                                    </button>
                                </div>


                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>