<div class="d-flex justify-content-between align-items-center flex-wrap grid-margin">
    <div>
        <h4 class="mb-3 mb-md-0" *ngIf="actionInfo == 0 && id == 0">&nbsp;{{addButton}} {{'KRA Task' | translate}}</h4>
        <!-- <h4 class="mb-3 mb-md-0" *ngIf="actionInfo == 1 ">&nbsp;{{'View Project Details' | translate}}</h4>
        <h4 class="mb-3 mb-md-0" *ngIf="actionInfo == 0 && id !== 0">&nbsp;{{'Edit Project Details' | translate}}</h4> -->
    </div>
</div>

<div class="row text-left">
    <div class="col-md-12">
        <div class="card">
            <div class="card-content">
                <div class="card-body login-img">
                    <div class="px-3">
                        <form [formGroup]="form" class="form form-horizontal" novalidate>
                            <div class="form-body pt-2">
                                <fieldset [disabled]="actionInfo == 1">
                                    <div class="row">

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="mandatory ">Goal Code</label>
                                                <mat-select placeholder="Goal Code" formControlName="goalcode"
                                                    [disabled]="actionInfo === 1" class="form-control pt-2"
                                                    [disableOptionCentering]="true" #select1>
                                                    <mat-select-filter [displayMember]="'goalcode'"
                                                        [array]="goalcodelist"
                                                        (filteredReturn)="goalcodelistFilterList =$event"
                                                        *ngIf="select1.focused">
                                                    </mat-select-filter>
                                                    <mat-option *ngFor="let item of goalcodelistFilterList"
                                                        [value]="item.key">
                                                        {{item.goalcode}}
                                                    </mat-option>
                                                </mat-select>
                                                <div class="valid-error"
                                                    *ngIf="form.controls.goalcode.errors && (form.controls.goalcode.dirty || form.controls.goalcode.touched)"
                                                    text-wrap>
                                                    <span *ngIf="form.controls.goalcode.errors?.required"
                                                        class="form-text danger mandatory">
                                                        Goal Code{{'IsRequired' | translate}}</span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="mandatory ">KRA Category</label>
                                                <mat-select placeholder="KRA Category" formControlName="kracategory"
                                                    [disabled]="actionInfo === 1" class="form-control pt-2"
                                                    [disableOptionCentering]="true" #select2>
                                                    <mat-select-filter [displayMember]="'kracategory'"
                                                        [array]="Kracategorylist"
                                                        (filteredReturn)="KracategorylistFilterList =$event"
                                                        *ngIf="select2.focused">
                                                    </mat-select-filter>
                                                    <mat-option *ngFor="let item of KracategorylistFilterList"
                                                        [value]="item.key">
                                                        {{item.kracategory}}
                                                    </mat-option>
                                                </mat-select>
                                                <div class="valid-error"
                                                    *ngIf="form.controls.kracategory.errors && (form.controls.kracategory.dirty || form.controls.kracategory.touched)"
                                                    text-wrap>
                                                    <span *ngIf="form.controls.kracategory.errors?.required"
                                                        class="form-text danger mandatory">
                                                        KRA Category{{'IsRequired' | translate}}</span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="mandatory ">Action Code</label>
                                                <mat-select placeholder="Action Code" formControlName="actioncode"
                                                    [disabled]="actionInfo === 1" class="form-control pt-2"
                                                    [disableOptionCentering]="true" #select3>
                                                    <mat-select-filter [displayMember]="'actioncode'"
                                                        [array]="actioncodelist"
                                                        (filteredReturn)="actioncodelistFilterList =$event"
                                                        *ngIf="select3.focused">
                                                    </mat-select-filter>
                                                    <mat-option *ngFor="let item of actioncodelistFilterList"
                                                        [value]="item.key">
                                                        {{item.actioncode}}
                                                    </mat-option>
                                                </mat-select>
                                                <div class="valid-error"
                                                    *ngIf="form.controls.actioncode.errors && (form.controls.actioncode.dirty || form.controls.actioncode.touched)"
                                                    text-wrap>
                                                    <span *ngIf="form.controls.actioncode.errors?.required"
                                                        class="form-text danger mandatory">
                                                        Action Code{{'IsRequired' | translate}}</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <fieldset>
                                                <div class="form-group">
                                                    <label class="mandatory ">KRA Name</label>
                                                    <input type="text" class="form-control" formControlName="kraName"
                                                        placeholder="KRA Name" autocomplete="off">
                                                    <div class="valid-error"
                                                        *ngIf="form.controls.kraName.errors && (form.controls.kraName.dirty || form.controls.kraName.touched)"
                                                        text-wrap>
                                                        <span *ngIf="form.controls.kraName.errors?.required"
                                                            class="form-text  danger mandatory">
                                                            KRA Name {{'IsRequired' | translate}}
                                                        </span>
                                                    </div>
                                                </div>
                                            </fieldset>
                                        </div>


                                    </div>
                                    <div class="mt-3 mb-3">
                                        <h4 class="mb-3 mb-md-0" *ngIf="actionInfo == 0 && id == 0">&nbsp;{{addButton}}
                                            {{'Description' | translate}}</h4>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="mandatory ">Designation</label>
                                                <mat-select placeholder="Designation" formControlName="designation"
                                                    [disabled]="actionInfo === 1" class="form-control pt-2"
                                                    [disableOptionCentering]="true" #select4>
                                                    <mat-select-filter [displayMember]="'designation'"
                                                        [array]="designationlist"
                                                        (filteredReturn)="designationlistFilterList =$event"
                                                        *ngIf="select4.focused">
                                                    </mat-select-filter>
                                                    <mat-option *ngFor="let item of designationlistFilterList"
                                                        [value]="item.key">
                                                        {{item.designation}}
                                                    </mat-option>
                                                </mat-select>
                                                <div class="valid-error"
                                                    *ngIf="form.controls.designation.errors && (form.controls.designation.dirty || form.controls.designation.touched)"
                                                    text-wrap>
                                                    <span *ngIf="form.controls.designation.errors?.required"
                                                        class="form-text danger mandatory">
                                                        Designation{{'IsRequired' | translate}}</span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="mandatory "> Description</label>
                                                <textarea type="text" class="form-control" placeholder="Description"
                                                    formControlName="description" autocomplete="off">
                                            </textarea>
                                                <div class="valid-error"
                                                    *ngIf="form.controls.description.errors && (form.controls.description.dirty || form.controls.description.touched)"
                                                    text-wrap>
                                                    <span *ngIf="form.controls.description.errors?.required"
                                                        class="form-text  danger mandatory">
                                                        Description {{'IsRequired' | translate}}
                                                    </span>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div style="float: right;">
                                        <button [disabled]="actionInfo===1" type="button" matRipple
                                            class="btn btnrefresh mr-2 mb-2" (click)="clearData()">
                                            <i class="btn-icon-prepend fa fa-refresh"></i>&nbsp;
                                            Clear
                                        </button>
                                        <button [disabled]="actionInfo===1" type="button" matRipple
                                            class="btn btnadd mr-2 mb-2" (click)="addData()">
                                            <i *ngIf="addButton != 'Update'" class="btn-icon-prepend fa fa-plus"></i>
                                            <i *ngIf="addButton == 'Update'" class="fa fa-save"></i>&nbsp;
                                            {{addButton}}
                                        </button>
                                    </div>
                                    <mat-form-field class="mb-0 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                        <input id="search" matInput (keyup)="applyFilter($event)"
                                            placeholder="{{'Search' | translate}}" #searchInput>
                                    </mat-form-field>

                                    <div class="table-responsive">
                                        <mat-table #table [dataSource]="dataSource" matSort matSortDirection="asc">

                                            <ng-container matColumnDef="designationgrid">
                                                <mat-header-cell *matHeaderCellDef>Designation
                                                </mat-header-cell>
                                                <mat-cell *matCellDef="let dataField">
                                                    <p class="text-truncate txtalign">{{dataField.designationgrid}}</p>
                                                </mat-cell>
                                            </ng-container>

                                            <ng-container matColumnDef="descriptiongrid">
                                                <mat-header-cell *matHeaderCellDef>Description
                                                </mat-header-cell>
                                                <mat-cell *matCellDef="let dataField">
                                                    <p class="text-truncate txtalign">{{dataField.descriptiongrid}}</p>
                                                </mat-cell>
                                            </ng-container>
                                            <ng-container fxFlex="10" matColumnDef="actions">
                                                <mat-header-cell *matHeaderCellDef align="center">{{'Actions' |
                                                    translate}}
                                                </mat-header-cell>
                                                <mat-cell *matCellDef="let matData; let l=index;" class="button-bar">

                                                    <!-- <button data-toggle="tooltip" data-placement="right"
                                                        matTooltip="{{'Edit'|translate}}" matTooltipClass="tooltip-edit"
                                                        matTooltipPosition="right" mat-icon-button color="accent"
                                                        (click)="editData(matData,l)">
                                                        <i class="fa fa-pencil-square-o fa-2x"></i>
                                                    </button>

                                                    <button *ngIf="matData.id === 0" data-toggle="tooltip"
                                                        data-placement="right" matTooltip="{{'Delete'|translate}}"
                                                        matTooltipClass="tooltip-edit" matTooltipPosition="right"
                                                        mat-icon-button color="accent"
                                                        (click)="delete(l + (paginator.pageIndex * paginator.pageSize))">
                                                        <i class="fa fa-trash fa-2x trashclr"></i>
                                                    </button> -->

                                                </mat-cell>
                                            </ng-container>

                                            <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true">
                                            </mat-header-row>

                                            <mat-row *matRowDef="let row; columns: displayedColumns;" matRipple>
                                            </mat-row>
                                        </mat-table>
                                    </div>
                                    <mat-paginator #paginator
                                        [length]="dataSource!=null && dataSource.filteredData.length" [pageIndex]="0"
                                        [pageSize]="5" [pageSizeOptions]="[5, 10, 20, 30]">
                                    </mat-paginator>
                                </fieldset>
                                <div class="form-actions mb-3 mt-3" style="float: right;">
                                    <button type="reset" class="btn btn-raised btn-warning ml-2 mr-2 btncancel"
                                        (click)="onCancel()">
                                        <i class="fa fa-close"></i>
                                        {{'Cancel' | translate}}
                                    </button>
                                    <button *ngIf="actionInfo !== 1"
                                        [ngClass]="id === 0 ? 'btn btn-primary mr-1 btnsave':'btn btn-primary mr-1 btnupdate'"
                                        type="submit" (click)="saveGrid()">
                                        <i class="fa fa-save"></i>
                                        {{submitbtn | translate}}
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>