<div class="d-flex justify-content-between align-items-center flex-wrap grid-margin">
    <div>
        <h4 class="mb-3 mb-md-0">&nbsp;Forgot Password</h4>
    </div>
</div>
<div class="row text-left">
    <div class="col-md-12">
        <div class="card">
            <div class="card-content">
                <div class="card-body login-img">
                    <div class="px-3">
                        <form [formGroup]="forgotForm" class="form form-horizontal" novalidate>
                            <div class="form-body pt-2">

                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label for="username" class="mandatory">Email</label>
                                            <input type="text" maxlength="50" id="username" class="form-control" formControlName="username" autocomplete="off" placeholder="Email"  pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}" avoidscripttags>
                                            <span
                                            class="form-text text-muted danger"
                                            *ngIf="!forgotForm.get('username').valid && (forgotForm.get('username').dirty || forgotForm.get('username').touched)">
                                            Email is required
                                        </span>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label class="label-captcha" class="mandatory">Captcha</label>
                                            <div id="CaptchaDiv">
                                                <figure>
                                                  <img class="forgot-captcha captcha-image"
                                                    src="assets/img/bg6.png"
                                                    alt="captcha image">
                                                  <!-- <div class="icon">
                                                      <a (click)="refresh($event)">
                                                        <img src="assets/img/reload.png" alt="mr-2 reload image"/>
                                                      </a>
                                                    </div> -->
                                                  <img src="assets/img/reload1.svg" width="30" height="25"
                                                  class="icon captchaicon "
                                                    alt="reload image"
                                                    (click)="OnCaptachaValidators()"
                                                   title="Reload">
                                                  <div class="centered">
                                                    <input
                                                    type="text"
                                                      formControlName="CaptchaDiv"
                                                      class="custom-captcha centered"
                                                      tabindex="-1" avoidscripttags>
                              
                                                  </div>
                                                </figure>
                                              </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <input 
                                            type="text"
                                            id="CaptchaInput"
                                            class="form-control"
                                            formControlName="txtCaptcha"
                                            autocomplete="off"
                                            placeholder="Enter the captcha" avoidscripttags>                 
                                            <span
                                            class="form-text text-muted danger mandatory"
                                            *ngIf="!forgotForm.get('txtCaptcha').valid && (forgotForm.get('txtCaptcha').dirty || forgotForm.get('txtCaptcha').touched)">
                                            Captcha is required
                                          </span>
                                          <span
                                          class="form-text text-muted danger mandatory"
                                          *ngIf="forgotForm.get('txtCaptcha').valid && (forgotForm.get('txtCaptcha').value != forgotForm.get('CaptchaDiv').value)">
                                          Please enter the vaild captcha
                                        </span>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-actions mb-2 mt-3 text-right">
                                    <button type="button" class="btn btn-raised btn-warning mr-1 btncancel" (click)="onCancel()">
                                        <i class="fa fa-close"></i> Cancel
                                      </button>
                                      <button type="button" class="button btn btn-primary mr-1 btnsubmit" (click)="onSave()">
                                        <i class="fa fa-check-square-o"></i> Submit
                                      </button>
                                </div>



                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>