.danger {
    color: #ff586b !important;
    text-transform: capitalize;
}

.input_with_icon {
    position: relative;
}

.pass_icon {
    position: absolute;
    right: 2%;
    top: 30%;
}

.attachment_img {
    width: 100px;
    height: 92px;
    border-radius: 16%;
    cursor: pointer;
}

.text {
    margin-top: auto;
    text-align: center;
    margin-bottom: auto;
}

.border {
    border: 1px solid #80808073;
    box-shadow: 5px 5px 5px 5px #9e9e9e47;
    min-height: 300px;
    border-radius: 3px;
    cursor: pointer;
    max-height: 100px;
    overflow-y: scroll;
}

.sty {
    color: gray;
    font-size: 25px;
    cursor: pointer;
    padding: 15px;
}

.sty:hover {
    color: green;
    font-size: 25px;
    cursor: pointer;
}

.selectall {
    text-align: center;
}

.matlistd {
    font-size: 14px !important;
    font-weight: 500;
}

.dis {
    display: contents !important;
}

.mar-top {
    margin-top: 20px;
    color: blue;
}

.selectall {
    text-align: center;
}

.hide {
    display: none;
}

.show {
    display: block;
}

@media (min-width: 768px){
.col-md-5 {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
    margin-top: 40px;
}
}
.heading {
    display: flex;
   justify-content: center;
//    align-items: center;

}
:host::ng-deep  .mat-checkbox-label-before .mat-checkbox-inner-container {
    order: 0 !important;
     margin-left: 7px; 
    // margin-right: 0px;
}
