<div class="d-flex justify-content-between align-items-center flex-wrap grid-margin">
    <div>
        <h4 class="mb-3 mb-md-0">&nbsp;{{'InformationaboutUser' | translate}}</h4>
    </div>
</div>
<div class="row text-left">
    <div class="col-md-12">
        <div class="card">
            <div class="card-content">
                <div class="card-body login-img">
                    <div class="px-3">
                        <form [formGroup]="form" class="form form-horizontal" novalidate>
                            <div class="form-body pt-2">

                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="mandatory ">{{'MobileNo' | translate}}</label>
                                            <input type="text" (input)="onSearchChange($event)" minlength="10"
                                                maxlength="10" class="form-control" formControlName="mobileNo"
                                                autocomplete="off" onlyNumber [disabled]="isDisabled">
                                            <div class="valid-error"
                                                *ngIf="form.controls.mobileNo.errors && (form.controls.mobileNo.dirty || form.controls.userName.touched)"
                                                text-wrap>
                                                <span *ngIf="form.controls.mobileNo.errors?.required"
                                                    class="form-text text-muted danger mandatory">
                                                    {{'MobileNo' | translate}} {{'IsRequired' | translate}} </span>
                                                <span class="form-text text-muted danger mandatory "
                                                    *ngIf="form.get('mobileNo').hasError('minlength') && !form.get('mobileNo').hasError('required')">
                                                    {{'PleaseentervalidmobileNo' | translate }} </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="mandatory">{{'Username' | translate}}</label>
                                            <input type="text" maxlength="50" class="form-control"
                                                formControlName="userName" autocomplete="off" [disabled]="isDisabled"
                                                avoidscripttags>
                                            <div class="valid-error"
                                                *ngIf="form.controls.userName.errors && (form.controls.userName.dirty || form.controls.userName.touched)"
                                                text-wrap>
                                                <span *ngIf="form.controls.userName.errors?.required"
                                                    class="form-text text-muted danger mandatory">
                                                    {{'Username' | translate}} {{'IsRequired' | translate}}</span>
                                                <span class="form-text text-muted danger mandatory "
                                                    *ngIf="form.get('userName').hasError('pattern') && !form.get('userName').hasError('required')">
                                                    {{'PleaseentervalidUsername' | translate }} </span>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="mandatory">{{'FirstName' | translate}}</label>
                                            <input type="text" maxlength="80" class="form-control"
                                                formControlName="firstName" autocomplete="off" [pattern]='pattern'
                                                [disabled]="isDisabled" avoidscripttags>
                                            <div class="valid-error"
                                                *ngIf="form.controls.firstName.errors && (form.controls.firstName.dirty || form.controls.firstName.touched)"
                                                text-wrap>
                                                <span *ngIf="form.controls.firstName.errors?.required"
                                                    class="form-text text-muted danger mandatory">
                                                    {{'FirstName' | translate}} {{'IsRequired' | translate}}</span>
                                                <span class="form-text text-muted danger mandatory "
                                                    *ngIf="form.get('firstName').hasError('pattern') && !form.get('firstName').hasError('required')">
                                                    {{'PleaseentervalidFirstName' | translate }} </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>{{'LastName' | translate}}</label>
                                            <input type="text" [disabled]="isDisabled" maxlength="80"
                                                class="form-control" formControlName="lastName" autocomplete="off"
                                                avoidscripttags>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="mandatory ">{{'Email' | translate}}</label>
                                            <input type="email" maxlength="50" class="form-control"
                                                (keydown.space)="$event.preventDefault();" formControlName="email"
                                                autocomplete="off" [disabled]="isDisabled"
                                                pattern="^[a-zA-Z0-9.-_]{1,}@[a-zA-Z0-9.-]{1,}[.]{1}[a-zA-Z]{2,}$">
                                            <div class="valid-error"
                                                *ngIf="form.controls.email.errors && (form.controls.email.dirty || form.controls.email.touched)"
                                                text-wrap>
                                                <span *ngIf="form.controls.email.errors?.required"
                                                    class="form-text text-muted danger mandatory">
                                                    {{'Email' | translate}} {{'IsRequired' | translate}}</span>
                                                <span class="form-text text-muted danger"
                                                    *ngIf="form.controls.email.errors.email">
                                                    {{'PleaseentervalidEmail' | translate }}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="mandatory ">{{'Language' | translate}}</label>
                                            <select class="form-control" formControlName="languageType">
                                                <option value="">
                                                    Select
                                                </option>
                                                <option *ngFor="let data of Languages" [ngValue]="data.key">
                                                    {{data.value}}
                                                </option>
                                            </select>
                                            <span class="form-text text-muted danger mandatory "
                                                *ngIf="!form.get('languageType').valid && (form.get('languageType').dirty || form.get('languageType').touched)">
                                                {{'Language' | translate}} {{'IsRequired' | translate}}
                                            </span>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-actions mb-2 mt-3" style="float: right;">
                                    <button type="reset" class="btn btn-raised btn-warning mr-1 btncancel"
                                        (click)="onCancel()">
                                        <i class="fa fa-close"></i>
                                        {{'Cancel' | translate}}
                                    </button>
                                    <button *ngIf=formEditMode
                                        [ngClass]="id === 0 ? 'btn btn-primary mr-1 btnsave':'btn btn-primary mr-1 btnupdate'"
                                        type="submit" (click)="onSubmit()">
                                        <i class="fa fa-save"></i>
                                        {{submitbtn | translate}}
                                    </button>
                                </div>

                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>