.danger {
    color         : #ff586b !important;
    text-transform: capitalize;
}
.input_with_icon{
    position: relative;
  }
.pass_icon{
    position: absolute;
      right: 2%;
      top: 30%;
  }
  .attachment_img{
    width: 100px;
    height: 92px;
    border-radius: 16%;
   cursor: pointer;
  }