<div class="d-flex justify-content-between align-items-center flex-wrap grid-margin">
    <div>
        <h4 class="mb-3 mb-md-0" *ngIf="actionInfo == 0 && id == 0">&nbsp;{{'Add TimeSheet' | translate}}</h4>
        <h4 class="mb-3 mb-md-0" *ngIf="actionInfo == 1 ">&nbsp;{{' View TimeSheet' | translate}}</h4>
        <h4 class="mb-3 mb-md-0" *ngIf="actionInfo == 0 && id !== 0">&nbsp;{{'Edit TimeSheet' | translate}}</h4>
    </div>
</div>
<div class="row text-left">
    <div class="col-md-12">
        <div class="card">
            <div class="card-content">
                <div class="card-body login-img">
                    <div class="px-3">
                        <form [formGroup]="form" class="form form-horizontal" novalidate>
                            <div class="form-body pt-2">
                                <fieldset [disabled]="actionInfo == 1">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="mandatory ">{{'Date' | translate}}</label>
                                                <div class="input-group mb-0 ">
                                                    <input class="form-control" [disabled]="this.id != 0"
                                                        placeholder="Select Date" formControlName="entryDate"
                                                        [owlDateTimeTrigger]="dt1" [min]="this.mindate"
                                                        [max]="this.maxdate" [owlDateTime]="dt1">
                                                    <owl-date-time [pickerType]="'calendar'" #dt1>
                                                    </owl-date-time>
                                                    <div class="input-group-append">
                                                        <span class="trigger input-group-text"
                                                            [owlDateTimeTrigger]="dt1">
                                                            <i class="fa fa-calendar-check-o"></i>
                                                        </span>
                                                        <owl-date-time [pickerType]="'calendar'" #dt1>
                                                        </owl-date-time>
                                                    </div>
                                                </div>
                                                <span class="form-text text-muted danger mandatory "
                                                    *ngIf="!form.get('entryDate').valid && (form.get('entryDate').dirty || form.get('entryDate').touched)">
                                                    {{'Date' | translate}} {{'IsRequired' | translate}}
                                                </span>
                                            </div>
                                        </div>

                                        <div class="col-md-6" style="display: flex; align-items: end;">
                                            <div class="form-group">
                                                <mat-button-toggle-group formControlName="IsLeave"
                                                    [disabled]="actionInfo==1">

                                                    <mat-button-toggle
                                                        [ngClass]="this.form.value.IsLeave == 1 ? 'btnred' :''"
                                                        (click)="onbtnClick(1)" [value]="1">Leave</mat-button-toggle>
                                                    <mat-button-toggle
                                                        [ngClass]="this.form.value.IsLeave == 2 ? 'butgreen' :''"
                                                        (click)="onbtnClick(2)" [value]="2">Present</mat-button-toggle>
                                                </mat-button-toggle-group>
                                                <!-- <span class="form-text text-muted danger mandatory "
                                              *ngIf="form.get('code').hasError('maxlength') && !form.get('code').hasError('required')">                                                    {{'PleaseentermaxRegionCode' | translate }} </span> -->

                                            </div>
                                        </div>
                                        <!-- </div> -->


                                        <!-- <div class="row" *ngIf="this.form.value.IsLeave==2"> -->
                                        <div class="col-md-6" *ngIf="isLeave">
                                            <div class="form-group">
                                                <label class="mandatory ">{{'Project' | translate}}</label>
                                                <mat-select [disabled]="actionInfo == 1" placeholder="Project"
                                                    (selectionChange)="sortingChange($event)"
                                                    formControlName="projectId" class="form-control pt-2">
                                                    <mat-select-filter [displayMember]="'value'" [array]="SortList"
                                                        (filteredReturn)="filterSortList =$event">
                                                    </mat-select-filter>
                                                    <mat-option *ngFor="let item of filterSortList" [value]="item.key">
                                                        {{item.value}}
                                                    </mat-option>
                                                </mat-select>
                                                <span class="form-text text-muted danger mandatory"
                                                    *ngIf="!form.get('projectId').valid && (form.get('projectId').dirty || form.get('projectId').touched)">
                                                    {{'Project' | translate}} {{'IsRequired' | translate}}
                                                </span>
                                            </div>
                                        </div>

                                        <div class="col-md-6" *ngIf="isLeave">
                                            <div class="form-group">
                                                <label class="mandatory ">{{'Task Type' | translate}}</label>
                                                <mat-select [disabled]="actionInfo == 1" placeholder="Task Type"
                                                    (selectionChange)="sortingChange($event)"
                                                    formControlName="taskTypeId" class="form-control pt-2">
                                                    <mat-select-filter [displayMember]="'value'"
                                                        [array]="projecttypelist"
                                                        (filteredReturn)="filterprojecttypelist =$event">
                                                    </mat-select-filter>
                                                    <mat-option *ngFor="let item of filterprojecttypelist"
                                                        [value]="item.key">
                                                        {{item.value}}
                                                    </mat-option>
                                                </mat-select>
                                                <span class="form-text text-muted danger mandatory"
                                                    *ngIf="!form.get('taskTypeId').valid && (form.get('taskTypeId').dirty || form.get('taskTypeId').touched)">
                                                    {{'Task Type' | translate}} {{'IsRequired' | translate}}
                                                </span>
                                            </div>
                                        </div>

                                        <div class="col-md-6" *ngIf="isLeave">
                                            <div class="form-group">
                                                <label class="mandatory">{{'Hours' | translate}}
                                                </label>
                                                <input class="form-control" formControlName="hours"
                                                    [owlDateTimeTrigger]="dt2" [owlDateTime]="dt2"
                                                    (dateTimeInput)="timeChange()" [readonly]="true">

                                                <owl-date-time [pickerType]="'timer'" #dt2></owl-date-time>
                                                <div class="valid-error"
                                                    *ngIf="form.controls.hours.errors && (form.controls.hours.dirty || form.controls.hours.touched)"
                                                    text-wrap>
                                                    <span *ngIf="form.controls.hours.errors?.required"
                                                        class="form-text text-muted danger mandatory">
                                                        {{'Hours' | translate}} {{'IsRequired' | translate}}
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- <div class="col-md-6" *ngIf="isLeave">
                                        <div class="form-group">
                                            <label class="mandatory">{{'Time In' | translate}}
                                            </label>
                                            <input class="form-control" formControlName="timeIn"
                                                [owlDateTimeTrigger]="dt3" [owlDateTime]="dt3"
                                                (dateTimeInput)="timeChange()">

                                            <owl-date-time [pickerType]="'timer'" #dt3></owl-date-time>
                                            <div class="valid-error"
                                                *ngIf="form.controls.timeIn.errors && (form.controls.timeIn.dirty || form.controls.timeIn.touched)"
                                                text-wrap>
                                                <span *ngIf="form.controls.timeIn.errors?.required"
                                                    class="form-text text-muted danger mandatory">
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6" *ngIf="isLeave">
                                        <div class="form-group">
                                            <label class="mandatory">{{'Time Out' | translate}}
                                            </label>
                                            <input class="form-control" formControlName="timeOut"
                                                [owlDateTimeTrigger]="dt4" [owlDateTime]="dt4"
                                                (dateTimeInput)="timeChange()">

                                            <owl-date-time [pickerType]="'timer'" #dt4></owl-date-time>
                                            <div class="valid-error"
                                                *ngIf="form.controls.timeOut.errors && (form.controls.timeOut.dirty || form.controls.timeOut.touched)"
                                                text-wrap>
                                                <span *ngIf="form.controls.timeOut.errors?.required"
                                                    class="form-text text-muted danger mandatory">
                                                </span>
                                            </div>
                                        </div>
                                    </div> -->
                                        <!-- </div>

                                    <div class="row"> -->


                                        <div class="col-md-6" *ngIf="isLeave">
                                            <div class="form-group">
                                                <label class="mandatory ">{{'Task Description' | translate}}</label>
                                                <textarea type="text" class="form-control" maxlength="250"
                                                    formControlName="description" placeholder="Task Description" autocomplete="off">
                                     </textarea>
                                                <div class="valid-error"
                                                    *ngIf="form.controls.description.errors && (form.controls.description.dirty || form.controls.description.touched)"
                                                    text-wrap>
                                                    <span *ngIf="form.controls.description.errors?.required"
                                                        class="form-text text-muted danger mandatory">
                                                        {{'Description' | translate}} {{'IsRequired' |
                                                        translate}}</span>

                                                </div>
                                            </div>
                                        </div>


                                    </div>
                                </fieldset>

                                <div class="form-actions mb-2 mt-3" style="float: right;">
                                    <button type="reset" class="btn btn-raised btn-warning mr-1 btncancel"
                                        (click)="onCancel()">
                                        <i class="fa fa-close"></i>
                                        {{'Cancel' | translate}}
                                    </button>
                                    <button *ngIf=formEditMode
                                        [ngClass]="id === 0 ? 'btn btn-primary mr-1 btnsave':'btn btn-primary mr-1 btnupdate'"
                                        type="submit" (click)="onSubmit()">
                                        <i class="fa fa-save"></i>
                                        {{submitbtn}}
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>