.fa-trash:before {
  content: "\f1f8";
  color: #fa0f64;
}


.aligncenter {
  display: flex;
  justify-content: center;
}


th {

  // padding-bottom: 10px;
  //padding-top: 5px;
  text-align-last: center;
  background-color: #71B03C;
  color: #fff;
  font-weight: small !important;
  border-right: 0.1px solid lightgray;
  height: 30px;
}

td {
  padding-bottom: 10px;
  padding-left: 10px;
  border-right: 0.1px solid lightgray;
  border-bottom: 0.1px solid lightgray;
}

.matcellstyle {
  display: flex;
  padding: 2px;

}

// .color {
//   color: red;
// }
.red-text {
  color: red;
}


:host::ng-deep .table-responsive .mat-row {
  display: flex !important;
}

:host::ng-deep .table-responsive .mat-header-row {
  display: flex !important;
}

:host::ng-deep .table-responsive .mat-row,
.table-responsive .mat-footer-row {
  min-height: 0px !important;
}

:host::ng-deep .table-responsive .mat-header-cell {
  padding-top: 8px;
  height: 35px !important;
}

