<div class="pl-1 pr-1 mb-1">
    <div class="row d-flex justify-content-between align-items-center flex-wrap grid-margin">
        <h4 class="text-bold-500 text-left hearder-text">
            Time Sheet
        </h4>
        <div class="" style="float:right;">
            <button type="button" matRipple class="btn btnadd mr-2 mb-2" (click)="goToAction(0,0)">
                <i class="btn-icon-prepend fa fa-plus"></i>
                {{'Add' | translate}}
            </button>
            <button type="button" matRipple class="btn btnrefresh mr-2 mb-2" (click)="refresh()">
                <i class="btn-icon-prepend fa fa-refresh"></i>
                {{'Refresh' | translate}}
            </button>
            <!-- <button type="button" matRipple class="btn btnexportexcel mb-2" (click)="onExportExcel()">
              <i class="btn-icon-prepend fa fa-file-excel-o"></i>
              {{'ExportExcel' | translate}}
            </button> -->
        </div>
    </div>
</div>
<div *ngIf="loading" class="loadesr"></div>
<mat-form-field class="mb-0 col-sm-12 col-md-12 col-lg-12 col-xl-12">
    <input id="search" matInput (keyup)="applyFilter($event)" placeholder="{{'Search'}}" #searchInput>
</mat-form-field>
<div class="table-responsive">
    <mat-table #table [dataSource]="dataSource" matSort matSortDirection="asc">

        <ng-container matColumnDef="entryDate">
            <mat-header-cell *matHeaderCellDef mat-sort-header="entryDate">{{'EntryDate'|translate}}
            </mat-header-cell>
            <mat-cell *matCellDef="let dataField">
                <p class="text-truncate txtalign lbl-pointer">{{dataField.entryDate |date:'dd-MM-yyyy'}}</p>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="Hours">
            <mat-header-cell *matHeaderCellDef mat-sort-header="hours">{{'Hours' | translate}}
            </mat-header-cell>
            <mat-cell *matCellDef="let dataField">
                <p class="text-truncate txtalign lbl-pointer">{{dataField.hours}}</p>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="Description">
            <mat-header-cell *matHeaderCellDef mat-sort-header="description">{{'Task Description' | translate}}
            </mat-header-cell>
            <mat-cell *matCellDef="let dataField">
                <p class="text-truncate txtalign lbl-pointer">{{dataField.description}}</p>
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="Project">
            <mat-header-cell *matHeaderCellDef mat-sort-header="project">{{'Project Name' | translate}}
            </mat-header-cell>
            <mat-cell *matCellDef="let dataField">
                <p class="text-truncate txtalign lbl-pointer">{{dataField.project}}</p>
            </mat-cell>
        </ng-container>

        <!-- <ng-container matColumnDef="TimeIn">
            <mat-header-cell *matHeaderCellDef mat-sort-header="TimeIn">{{'TimeIn' | translate}}
            </mat-header-cell>
            <mat-cell *matCellDef="let dataField">
                <p class="text-truncate txtalign lbl-pointer">{{dataField.timeIn}}</p>
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="TimeOut">
            <mat-header-cell *matHeaderCellDef mat-sort-header="TimeOut">{{'TimeOut' | translate}}
            </mat-header-cell>
            <mat-cell *matCellDef="let dataField">
                <p class="text-truncate txtalign lbl-pointer">{{dataField.timeOut}}</p>
            </mat-cell>
        </ng-container> -->
        <ng-container fxFlex="10" matColumnDef="action">
            <mat-header-cell *matHeaderCellDef align="center">{{'Actions' | translate}}</mat-header-cell>
            <mat-cell *matCellDef="let dataField" class="button-bar" class="centered-cell">

                <button data-toggle="tooltip" data-placement="right" matTooltip="{{'Edit'|translate}}"
                    matTooltipClass="tooltip-edit" matTooltipPosition="right" mat-icon-button color="primary"
                    (click)="goToAction(dataField.id, 0)">
                    <i class="fa fa-pencil-square-o fa-2x editclr"></i>
                    <!-- <i class="btn-icon-prepend fa fa-edit"></i> -->
                    <!-- <img src="../../../../../assets/images/editicon.png" style="width: 25px;"> -->
                </button>
                <button data-toggle="tooltip" data-placement="right" matTooltip="{{'View'|translate}}"
                    matTooltipClass="tooltip-edit" matTooltipPosition="right" mat-icon-button color="accent"
                    (click)="goToAction(dataField.id,1)">
                    <i class="fa fa-eye fa-2x eyeclr"></i>
                    <!-- <img src="../../../../../assets/images/viewicon3.png" style="width: 25px;"> -->
                </button>

                <button data-toggle="tooltip" data-placement="right" matTooltip="{{'Delete'|translate}}"
                    matTooltipClass="tooltip-edit" matTooltipPosition="right" mat-icon-button color="danger"
                    (click)="onDelete($event,dataField.id)">
                    <i class="fa fa-trash fa-2x trashclr"></i>
                    <!-- <img src="../../../../../assets/images/viewicon3.png" style="width: 25px;"> -->
                </button>

            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></mat-header-row>

        <mat-row *matRowDef="let row; columns: displayedColumns;" matRipple>
        </mat-row>
    </mat-table>
</div>
<mat-paginator #paginator [length]="dataSource!=null && dataSource.filteredData.length" [pageIndex]="0" [pageSize]="10"
    [pageSizeOptions]="[10, 25, 50, 100]">
</mat-paginator><br>