.textHead{
    font-size: 17px;
    font-weight: bold;
}
.textValue{
    font-size: 16px;
    font-weight: 600;
    color: #185eb3;
}
.bggreen {
    color: #32b739;
    font-weight: bold;
}
.bgred{
    color: red;
    font-weight: bold;

}