<div class="pl-1 pr-1">
    <div class="row d-flex justify-content-between align-items-center flex-wrap grid-margin" style="margin-top: -30px;">
        <div class="col-md-4 col-sm-2 mt-4">
            <h4 class="text-bold-500 text-left hearder-text">
                {{pagetitle}}
            </h4>
        </div>
        <div class="col-md-8 mt-3">
            <div style="float:right; display: flex;">
                <button type="button" matRipple class="btn btnrefresh mr-2 mb-1" (click)="refresh()">
                    <i class="btn-icon-prepend fa fa-refresh"></i>
                    {{'Refresh' | translate}}
                </button>
                <mat-button-toggle-group #group="matButtonToggleGroup" [(ngModel)]="selectedOption" (change)="onToggleChange($event)">
                    <mat-button-toggle value="status" aria-label="Status" ><i class="btn-icon-prepend fa fa-plus" style="font-weight: bold;"></i> {{'Add'}}</mat-button-toggle>
                    <mat-button-toggle value="approval" aria-label="Approval" ><mat-icon style="font-weight: bold;">check</mat-icon> {{'Approve'}}</mat-button-toggle>
                </mat-button-toggle-group>
            </div>
        </div>
    </div>
</div>







<div>
    <div #wrapRef1 class="wrapper1" (scroll)="handleScroll($event)">
        <div id="div1" class="div1"></div>
    </div>
    <div #wrapRef2 class="wrapper2" (scroll)="handleScroll($event)" style="display: flex;">
        <div class="card col-md-2 ml-2" *ngFor="let card of taskStatusList;let i = index"
            style="display: inline-table;">
            <div class="card-content">
                <div [style.background-color]="getColor(i)" style="text-align: center;">
                    <P style="font-size: 30px;color: white;">{{card.value}}</P>
                </div>
                <div class=" row card-body login-img d-flex" style="justify-content: center;">
                    <div class="col-md-12 mb-3 subcard" *ngFor="let subcard of getSubcardArray(i)"
                        (click)="ModifyKraTaskstatus(subcard?.id,0,subcard?.scheduleTMViewModel?.scheduleGridViewModel?.assignedDate)">
                        <div style="display: flex;flex-direction: column;align-items: center;">
                            <div class="col-md-12 subcardtitle" [ngStyle]="{'background-color': subcard?.scheduleTMViewModel?.scheduleGridViewModel?.periodType === 1 ? '#A83F87' :
                            subcard?.scheduleTMViewModel?.scheduleGridViewModel?.periodType === 2 ? '#8B61B3' :
                            subcard?.scheduleTMViewModel?.scheduleGridViewModel?.periodType === 3 ? '#8CA4C8' : 
                            subcard?.scheduleTMViewModel?.scheduleGridViewModel?.periodType === 4 ? '#0892A4' :
                            subcard?.scheduleTMViewModel?.scheduleGridViewModel?.periodType === 5 ? '#E48586' :
                            subcard?.scheduleTMViewModel?.scheduleGridViewModel?.periodType === 6 ? '#525CEB' :
                            subcard?.scheduleTMViewModel?.scheduleGridViewModel?.periodType === 7 ? '#367C4E' :''}">
                                <P style="color: white;">{{subcard.scheduleTMViewModel.scheduleTaskName }}</P>
                            </div>
                            <div class="col-md-12 d-flex mt-1 subcardcontent">
                                <div class="col-4 subcardcontentlable">Project<span style="float: right;">:</span></div>
                                <div class="col-8"> {{subcard?.projectName }}</div>
                                <div *ngIf="isApprovelOrStatus==1" class="col-4 subcardcontentlable">Manager<span style="float: right;">:</span></div>
                                <div *ngIf="isApprovelOrStatus==1" class="col-8"> {{subcard?.scheduleTMViewModel?.primaryOwnerName }}</div>
                                <div *ngIf="isApprovelOrStatus==2" class="col-4 subcardcontentlable">Employee<span style="float: right;">:</span></div>
                                <div *ngIf="isApprovelOrStatus==2" class="col-8"> {{subcard?.executorName}}</div>
                                <div class="col-4 subcardcontentlable">period<span style="float: right;">:</span></div>
                                <div class="col-8"> {{subcard?.scheduleTMViewModel?.scheduleGridViewModel?.period }}</div>
                            </div>
                            <div class="col-md-12 d-flex" style="padding-right: 0rem;padding-left: 0rem;">
                                <div class="col-md-6 mt-1 mb-1 subcarddate"
                                    style="border-right: 0.5px solid rgb(200, 198, 198);">
                                    <P style="color: rgb(6, 125, 60);">
                                        {{subcard?.scheduleTMViewModel?.scheduleGridViewModel?.assignedDate
                                        |date:"dd-MM-yyyy"}}</P>
                                    <span>Assigned Date</span>
                                </div>
                                <div class="col-md-6 mt-1 subcarddate">
                                    <P style="color: rgb(244, 62, 129);">
                                        {{subcard?.scheduleTMViewModel?.scheduleGridViewModel?.targetDate |
                                        date:"dd-MM-yyyy"}}</P>
                                    <span>Target Date</span>
                                </div>

                            </div>
                            <!-- <div class="col-md-12 mt-1" style="display: flex;
                        justify-content: center; color: red;" >
                            <span>* Expected to Complete on {{subcard.scheduleTMViewModel.scheduleGridViewModel.reminderDate |
                                date:"dd-MM-yyyy"}} </span>
                        </div> -->

                        </div>
                    </div>
                    <div class="col-md-12 mb-3 nodatacard" *ngIf="getSubcardArray(i).length == 0">
                        <img src="assets/images/no-task.png" height="115px">
                        <P style="font-size: xx-large;
                    font-weight: bold;
                    color: rgb(189, 186, 186);">No Task</P>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>