<div class="d-flex justify-content-between align-items-center flex-wrap grid-margin">
    <div>
        <h4 class="mb-3 mb-md-0">&nbsp;{{'ChangePassword' | translate}}</h4>
    </div>
</div>
<div class="row text-left">
    <div class="col-md-12">
        <div class="card">
            <div class="card-content">
                <div class="card-body login-img">
                    <div class="px-3">
                        <form [formGroup]="form" class="form form-horizontal" novalidate>
                            <div class="form-body pt-2">

                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label for="oldpassword" class="mandatory">{{'OldPassword' |
                                                translate}}</label>
                                            <div class="input_with_icon">
                                                <i class="fa fa-eye pass_icon" aria-hidden="true"
                                                    *ngIf="showold && form.get('oldPassword').value"
                                                    (click)="oldPassword()"></i>
                                                <i class="fa fa-eye-slash pass_icon" aria-hidden="true"
                                                    *ngIf="!showold  && form.get('oldPassword').value"
                                                    (click)="oldPassword()"></i>
                                                <input [type]="showold ? 'text' : 'password'" id="oldpassword"
                                                    class="form-control" formControlName="oldPassword"
                                                    placeholder="Old Password" required autocomplete="off" passwordOnly
                                                    avoidscripttags>
                                            </div>
                                            <span class="form-text text-muted danger mandatory"
                                                *ngIf="!form.get('oldPassword').valid && (form.get('oldPassword').dirty || form.get('oldPassword').touched)">
                                                {{'OldPassword' | translate}} {{'IsRequired' | translate}}
                                            </span>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label for="newpassword" class="mandatory">{{'NewPassword' |
                                                translate}}</label>
                                            <div class="input_with_icon">
                                                <i class="fa fa-eye pass_icon" aria-hidden="true"
                                                    *ngIf="show && form.get('newPassword').value"
                                                    (click)="password()"></i>
                                                <i class="fa fa-eye-slash pass_icon" aria-hidden="true"
                                                    *ngIf="!show  && form.get('newPassword').value"
                                                    (click)="password()"></i>
                                                <input [type]="show ? 'text' : 'password'" id="newpassword"
                                                    class="form-control" formControlName="newPassword"
                                                    placeholder="New Password" minlength="8" maxlength="12"
                                                    autocomplete="off" required passwordOnly avoidscripttags>
                                            </div>
                                            <span class="form-text text-muted danger mandatory"
                                                *ngIf="form.get('newPassword').hasError('required') && form.get('newPassword').touched">
                                                {{'NewPassword' | translate}} {{'IsRequired' | translate}}
                                            </span>
                                            <span class="form-text text-muted danger mandatory"
                                                *ngIf="!form.get('newPassword').hasError('required') && (form.get('newPassword').value == form.get('oldPassword').value)">
                                                {{' Old and New Password should not be same' | translate}}
                                            </span>
                                            <span class="form-text text-muted danger mandatory"
                                                *ngIf="form.get('newPassword').hasError('passwordStrength')">
                                                {{form.get('newPassword').errors['passwordStrength'] | translate}}
                                            </span>
                                            <span class="form-text text-muted danger mandatory" *ngIf="form.get('newPassword').hasError('minlength') && !form.get('newPassword').hasError('required')
      && !form.get('newPassword').hasError('passwordStrength')">
                                                {{'Password Should Contains Minimum 8 Characters and Maximum of 12
                                                characters' | translate}}
                                            </span>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label for="confirmpassword" class="mandatory">{{'ConfirmPassword' |
                                                translate}}</label>
                                            <div class="input_with_icon">
                                                <i class="fa fa-eye pass_icon" aria-hidden="true"
                                                    *ngIf="show2 && form.get('confirmpassword').value"
                                                    (click)="confirmpassword()"></i>
                                                <i class="fa fa-eye-slash pass_icon" aria-hidden="true"
                                                    *ngIf="!show2  && form.get('confirmpassword').value"
                                                    (click)="confirmpassword()"></i>
                                                <input [type]="show2 ? 'text' : 'password'" id="confirmpassword"
                                                    class="form-control" formControlName="confirmpassword"
                                                    placeholder="Confirm Password" minlength="8" maxlength="12"
                                                    autocomplete="off" required passwordOnly avoidscripttags>
                                            </div>

                                            <span class="form-text text-muted danger mandatory"
                                                *ngIf="!form.get('confirmpassword').valid && (form.get('confirmpassword').dirty || form.get('confirmpassword').touched)">
                                                {{'ConfirmPassword' | translate}} {{'IsRequired' | translate}}
                                            </span>
                                            <span class="form-text text-muted danger mandatory"
                                                *ngIf="form.get('confirmpassword').valid && (form.get('confirmpassword').value != form.get('newPassword').value)">
                                                {{'Please enter correct password' | translate}}
                                            </span>
                                        </div>
                                    </div>
                                </div>


                                <div class="row mt-3">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label class="label-captcha" class="mandatory">Captcha</label>
                                            <div id="CaptchaDiv">
                                                <figure>
                                                    <img class="chgpwd-captcha" src="assets/images/bg6.png" width="100" height="30"
                                                        alt="captcha image" style="width: 318px;" />
                                                    <img src="assets/images/refresh-button.png" width="40" height="30"
                                                        class="icon captchaicon" alt="reload image"
                                                        (click)="OnCaptachaValidators()" title="Reload">
                                                    <div class="centered">
                                                        <input type="text" formControlName="CaptchaDiv"
                                                            class="custom-captcha centered" tabindex="-1"
                                                            avoidscripttags>
                                                    </div>
                                                </figure>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <div class="col-lg-12 col-md-12">
                                                <input type="text" id="CaptchaInput" class="form-control"
                                                    formControlName="txtCaptcha" autocomplete="off"
                                                    placeholder="Enter the captcha" avoidscripttags>
                                                <span class="form-text text-muted danger mandatory"
                                                    *ngIf="!form.get('txtCaptcha').valid && (form.get('txtCaptcha').dirty || form.get('txtCaptcha').touched)">
                                                    {{'Captcha is required' | translate}}
                                                </span>
                                                <span class="form-text text-muted danger mandatory"
                                                    *ngIf="form.get('txtCaptcha').valid && (form.get('txtCaptcha').value != form.get('CaptchaDiv').value)">
                                                    {{'Please enter the vaild captcha' | translate}}
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-actions mb-2 mt-3" style="float: right;">
                                    <button type="button" class="btn btn-raised btn-warning mr-1 btncancel"
                                        (click)="onCancel()">
                                        <i class="fa fa-close"></i>
                                        {{'Cancel' | translate}}
                                    </button>
                                    <button type="submit" class="button btn btn-primary mr-1 btnsave"
                                        (click)="onSave()">
                                        <i class="fa fa-save"></i>
                                        {{'Save' | translate}}
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>