<div class="d-flex justify-content-between align-items-center flex-wrap grid-margin">
    <div>
        <h4 class="mb-3 mb-md-0" *ngIf="actionInfo == 0 && id == 0">&nbsp;{{'KRA Task Details' | translate}}</h4>
        <!-- <h4 class="mb-3 mb-md-0" *ngIf="actionInfo == 1 ">&nbsp;{{'View Project Details' | translate}}</h4>
        <h4 class="mb-3 mb-md-0" *ngIf="actionInfo == 0 && id !== 0">&nbsp;{{'Edit Project Details' | translate}}</h4> -->
    </div>
</div>
<div class="row text-left">
    <div class="col-md-12">
        <div class="card">
            <div class="card-content">
                <div class="card-body login-img">
                    <div class="px-3">
                        <form [formGroup]="form" class="form form-horizontal" novalidate>
                            <div class="form-body pt-2">
                                <fieldset [disabled]="actionInfo === 1">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <fieldset>
                                                <div class="form-group">
                                                    <label class="mandatory ">Task Name</label>
                                                    <input type="text" class="form-control" formControlName="taskName"
                                                        placeholder="Task Name" autocomplete="off">
                                                    <div class="valid-error"
                                                        *ngIf="form.controls.taskName.errors && (form.controls.taskName.dirty || form.controls.taskName.touched)"
                                                        text-wrap>
                                                        <span *ngIf="form.controls.taskName.errors?.required"
                                                            class="form-text  danger mandatory">
                                                            Task Name {{'IsRequired' | translate}}
                                                        </span>
                                                    </div>
                                                </div>
                                            </fieldset>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="mandatory "> Description</label>
                                                <textarea type="text" class="form-control" maxlength="250"
                                                    placeholder="Description" formControlName="description"
                                                    autocomplete="off">
                                                </textarea>
                                                <div class="valid-error"
                                                    *ngIf="form.controls.description.errors && (form.controls.description.dirty || form.controls.description.touched)"
                                                    text-wrap>
                                                    <span *ngIf="form.controls.description.errors?.required"
                                                        class="form-text  danger mandatory">
                                                        Description {{'IsRequired' | translate}}
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row text-left mt-2">
    <div class="col-md-12">
        <div class="card">
            <div class="card-content">
                <div class="card-body login-img">
                    <div class="px-3">
                        <form [formGroup]="formGrid" class="form form-horizontal" novalidate>
                            <div class="form-body pt-2">
                                <div class="d-flex justify-content-between align-items-center flex-wrap grid-margin">
                                    <div>
                                        <h4 class="mb-3 mb-md-0">{{addButton}} KRA Task Status
                                        </h4>
                                    </div>
                                </div>
                                <fieldset [disabled]="actionInfo === 1">
                                    <div class="row mt-2">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="mandatory ">Status Date</label>
                                                <div class="input-group mb-0 ">
                                                    <input class="form-control" placeholder="Select Status Date"
                                                        [max]="Date" formControlName="statusDate"
                                                        [min]="statusaddmindate" [owlDateTimeTrigger]="dt4"
                                                        [owlDateTime]="dt4">
                                                    <owl-date-time [pickerType]="'calendar'" #dt4>
                                                    </owl-date-time>
                                                    <div class="input-group-append">
                                                        <span class="trigger input-group-text"
                                                            [owlDateTimeTrigger]="dt4">
                                                            <i class="fa fa-calendar-check-o"></i>
                                                        </span>
                                                        <owl-date-time [pickerType]="'calendar'" #dt4>
                                                        </owl-date-time>
                                                    </div>
                                                </div>
                                                <div class="valid-error"
                                                    *ngIf="formGrid.controls.statusDate.errors && (formGrid.controls.statusDate.dirty || formGrid.controls.statusDate.touched)"
                                                    text-wrap>
                                                    <span *ngIf="formGrid.controls.statusDate.errors?.required"
                                                        class="form-text danger mandatory">
                                                        Status Date {{'IsRequired' | translate}}
                                                    </span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="mandatory">Task Status</label>
                                                <mat-select formControlName="taskStatusId" class="form-control pt-2"
                                                    [disableOptionCentering]="true" #select2 [disabled]="actionInfo===1"
                                                    placeholder="Select Task Status">
                                                    <mat-select-filter [displayMember]="'value'"
                                                        [array]="taskStatusList"
                                                        (filteredReturn)="filtertaskStatusList =$event">
                                                    </mat-select-filter>
                                                    <mat-option *ngFor="let item of filtertaskStatusList"
                                                        [value]="item.key">
                                                        {{item.value}}
                                                    </mat-option>
                                                </mat-select>
                                                <div class="valid-error"
                                                    *ngIf="formGrid.controls.taskStatusId.errors && (formGrid.controls.taskStatusId.dirty || formGrid.controls.taskStatusId.touched)"
                                                    text-wrap>
                                                    <span *ngIf="formGrid.controls.taskStatusId.errors?.required"
                                                        class="form-text danger mandatory">
                                                        Task Status {{'IsRequired' | translate}}</span>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="mandatory">Approval Status</label>
                                                <mat-select formControlName="approvedStatusType"
                                                    class="form-control pt-2" [disableOptionCentering]="true" #select2
                                                    [disabled]="actionInfo===1" (selectionChange)="approveTypeChange()"
                                                    placeholder="Select Approval Status"
                                                    [disabled]="actionInfo === 1 || disableForm()">
                                                    <mat-select-filter [displayMember]="'value'"
                                                        [array]="approveTypeList"
                                                        (filteredReturn)="filterapproveTypeList =$event">
                                                    </mat-select-filter>
                                                    <mat-option *ngFor="let item of filterapproveTypeList"
                                                        [value]="item.key">
                                                        {{item.value}}
                                                    </mat-option>
                                                </mat-select>
                                                <div class="valid-error"
                                                    *ngIf="formGrid.controls.approvedStatusType.errors && (formGrid.controls.approvedStatusType.dirty || formGrid.controls.approvedStatusType.touched)"
                                                    text-wrap>
                                                    <span *ngIf="formGrid.controls.approvedStatusType.errors?.required"
                                                        class="form-text danger mandatory">
                                                        Approval Status {{'IsRequired' | translate}}</span>
                                                </div>
                                            </div>
                                        </div> -->

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="mandatory ">Note</label>
                                                <textarea type="text" class="form-control" maxlength="250"
                                                    placeholder="Remarks" formControlName="remarks" autocomplete="off">
                                            </textarea>
                                                <div class="valid-error"
                                                    *ngIf="formGrid.controls.remarks.errors && (formGrid.controls.remarks.dirty || formGrid.controls.remarks.touched)"
                                                    text-wrap>
                                                    <span *ngIf="formGrid.controls.remarks.errors?.required"
                                                        class="form-text  danger mandatory">
                                                        Note {{'IsRequired' | translate}}
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Co-contributor/Participants</label>
                                                <ng-multiselect-dropdown class="custom-dropdown"
                                                    [disabled]="actionInfo == 1" formControlName="Participants"
                                                    placeholder="Select Co-contributor/Participants" [settings]="dropdownSettings"
                                                    [data]='employeeListByRole'>
                                                </ng-multiselect-dropdown>
                                                <div class="valid-error"
                                                    *ngIf="formGrid.controls.Participants.errors && (formGrid.controls.Participants.dirty || formGrid.controls.Participants.touched)"
                                                    text-wrap>
                                                    <span *ngIf="formGrid.controls.Participants.errors?.required"
                                                        class="form-text danger mandatory">
                                                        Co-contributor/Participants{{'IsRequired' | translate}}</span>
                                                </div>
                                            </div>
                                        </div> 
                                        <div class="col-md-6">
                                            <fieldset>
                                                <div class="form-group">
                                                    <label>Attachment</label>
                                                    <div class="custom-file">
                                                        <input type="file" class="custom-file-input" formControlName="attachment" accept="image/*">
                                                        <label class="custom-file-label" for="customFile">Choose file</label>
                                                    </div>
                                                    <div class="valid-error" *ngIf="formGrid.controls.attachment.errors && (formGrid.controls.attachment.dirty || formGrid.controls.attachment.touched)" text-wrap>
                                                        <span *ngIf="formGrid.controls.attachment.errors?.required" class="form-text danger mandatory">
                                                            Attachment {{'IsRequired' | translate}}
                                                        </span>
                                                    </div>
                                                </div>
                                            </fieldset>
                                        </div>
                                    </div>
                                </fieldset>

                                <div class="text-right">
                                    <button [disabled]="actionInfo===1" type="button" matRipple
                                        class="btn btnrefresh mr-2 mb-2" (click)="clearData()">
                                        <i class="btn-icon-prepend fa fa-refresh"></i>&nbsp;
                                        Clear
                                    </button>
                                    <button [disabled]="actionInfo===1" type="button" matRipple
                                        class="btn btnadd mr-2 mb-2" (click)="addData()">
                                        <i *ngIf="addButton != 'Update'" class="btn-icon-prepend fa fa-plus"></i>
                                        <i *ngIf="addButton == 'Update'" class="fa fa-save"></i>&nbsp;
                                        {{addButton}}
                                    </button>
                                </div>

                                <mat-form-field class="mb-0 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                    <input id="search" matInput (keyup)="applyFilter($event)"
                                        placeholder="{{'Search' | translate}}" #searchInput>
                                </mat-form-field>

                                <div class="table-responsive">
                                    <mat-table #table [dataSource]="dataSource" matSort matSortDirection="asc">

                                        <ng-container matColumnDef="statusDate">
                                            <mat-header-cell *matHeaderCellDef>Status Date
                                            </mat-header-cell>
                                            <mat-cell *matCellDef="let dataField">
                                                <p class="text-truncate txtalign">{{dataField.statusDate |
                                                    date:"dd-MM-yyyy"}}</p>
                                            </mat-cell>
                                        </ng-container>

                                        <ng-container matColumnDef="taskStatusValue">
                                            <mat-header-cell *matHeaderCellDef>Task
                                                Status
                                            </mat-header-cell>
                                            <mat-cell *matCellDef="let dataField">
                                                <p class="text-truncate txtalign">{{dataField.taskStatusValue}}</p>
                                            </mat-cell>
                                        </ng-container>

                                        <ng-container matColumnDef="remarks">
                                            <mat-header-cell *matHeaderCellDef>Note
                                            </mat-header-cell>
                                            <mat-cell *matCellDef="let dataField">
                                                <p class="text-truncate txtalign">{{dataField.remarks}}</p>
                                            </mat-cell>
                                        </ng-container>

                                        <ng-container matColumnDef="approvedStatusTypeValue">
                                            <mat-header-cell *matHeaderCellDef>Approval Status
                                            </mat-header-cell>
                                            <mat-cell *matCellDef="let dataField">
                                                <p class="text-truncate txtalign">{{dataField.approvedStatusTypeValue}}
                                                </p>
                                            </mat-cell>
                                        </ng-container>
                                        <ng-container matColumnDef="approval">
                                            <mat-header-cell *matHeaderCellDef>Approval
                                            </mat-header-cell>
                                            <mat-cell *matCellDef="let dataField;">
                                                <mat-radio-group aria-label="Select an option" required>
                                                    <mat-radio-button [value]="1"
                                                        [checked]="dataField.approvedStatusType === 1"
                                                        (click)="Approval(dataField,1)"
                                                        [disabled]="actionInfo === 1">Approved</mat-radio-button>&nbsp;
                                                    <mat-radio-button [value]="2"
                                                        [checked]="dataField.approvedStatusType === 2"
                                                        (click)="Approval(dataField,2)"
                                                        [disabled]="actionInfo === 1">Unapproved</mat-radio-button>
                                                </mat-radio-group>
                                            </mat-cell>
                                        </ng-container>

                                        <ng-container fxFlex="10" matColumnDef="actions">
                                            <mat-header-cell *matHeaderCellDef align="center">{{'Actions' | translate}}
                                            </mat-header-cell>
                                            <mat-cell *matCellDef="let matData; let l=index;" class="button-bar">

                                                <button
                                                    [disabled]="matData.id == 0 || editDisable === l || actionInfo === 1 ||matData.approvedStatusType===1"
                                                    data-toggle="tooltip" data-placement="right"
                                                    matTooltip="{{'Edit'|translate}}" matTooltipClass="tooltip-edit"
                                                    matTooltipPosition="right" mat-icon-button color="accent"
                                                    (click)="editData(matData,l)">
                                                    <i class="fa fa-pencil-square-o fa-2x"></i>
                                                </button>

                                                <button *ngIf="matData.id === 0"
                                                    [disabled]="actionInfo === 1 || disableDelete" data-toggle="tooltip"
                                                    data-placement="right" matTooltip="{{'Delete'|translate}}"
                                                    matTooltipClass="tooltip-edit" matTooltipPosition="right"
                                                    mat-icon-button color="accent"
                                                    (click)="delete(l + (paginator.pageIndex * paginator.pageSize))">
                                                    <i class="fa fa-trash fa-2x trashclr"></i>
                                                </button>

                                            </mat-cell>
                                        </ng-container>

                                        <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true">
                                        </mat-header-row>

                                        <mat-row *matRowDef="let row; columns: displayedColumns;" matRipple>
                                        </mat-row>
                                    </mat-table>
                                </div>
                                <mat-paginator #paginator [length]="dataSource!=null && dataSource.filteredData.length"
                                    [pageIndex]="0" [pageSize]="5" [pageSizeOptions]="[5, 10, 20, 30]">
                                </mat-paginator>

                                <div class="form-actions mb-3 mt-3" style="float: right;">
                                    <button type="reset" class="btn btn-raised btn-warning ml-2 mr-2 btncancel"
                                        (click)="onCancel()">
                                        <i class="fa fa-close"></i>
                                        {{'Cancel' | translate}}
                                    </button>
                                    <button *ngIf="actionInfo !== 1"
                                        [ngClass]="id === 0 ? 'btn btn-primary mr-1 btnsave':'btn btn-primary mr-1 btnupdate'"
                                        type="submit" (click)="saveGrid()">
                                        <i class="fa fa-save"></i>
                                        {{submitbtn | translate}}
                                    </button>
                                </div>

                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>