/* You can add global styles to this file, and also import other style files */
@import "~ngx-toastr/toastr";
@import "~ng-pick-datetime/assets/style/picker.min.css";
@import '~@angular/material/theming';

.mandatory::after {
  content: "*";
  color: red;
}

form label {
  text-transform: capitalize;
}

.danger {
  color: #ff586b !important;
  // text-transform: capitalize;
}

.requiredfield {
  color: #FF586B !important;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  // font-family: Roboto, "Helvetica Neue", sans-serif;
}

.table-responsive {
  display: block;
  width: 100%;
  max-height: 500px;
  overflow-x: auto;

  .mat-table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    display: table;
    border-collapse: collapse;
    margin: 0px;
    font-family: "Overpass", sans-serif;
  }

  .mat-row,
  .mat-header-row {
    display: table-row;
  }

  .mat-cell,
  .mat-header-cell {
    // word-wrap     : initial;
    display: table-cell;
    padding: 0px 5px;
    line-break: unset;
    width: auto;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: middle;
  }

  .mat-header-row {
    min-height: 30px !important;
  }

  .mat-row,
  .mat-footer-row {
    min-height: 30px !important;
  }

  .mat-cell {
    border-right: 0.1px solid lightgray;
  }

  .mat-header-cell {
    // background-color: #2F8BE6;
    // background-image: linear-gradient(#3F67A7, #6DB02D);
    background-image: linear-gradient(#3E65A6, #3E65A6);
    color: white;
    border-right: 0.1px solid lightgray;
    font-size: 14px;
  }

  .mat-sort-header-arrow {
    color: #ffffff;
  }

}

.btnadd {
  background-color: #3E65A6 !important;
  color: white !important;
}

.btnGenerate {
  background-color: #ff3366 !important;
  color: white !important;
}

.btnrefresh {
  background-color: #71B03C !important;
  color: white !important;
}

.btnexportexcel {
  background-color: #388c54 !important;
  color: white !important;
}

.btnexcelexport {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .2) !important;
  color: #6db02d !important;
  background-color: white;
}

.isize {
  font-size: 18px !important;
}

.pointer {
  cursor: pointer !important;
}

.btnfilter {
  background-color: #3d453f !important;
  color: white !important;
}

select.form-control,
select,
.ng-select select.ng-select-container,
.dataTable-wrapper .dataTable-top .dataTable-search select.dataTable-input {
  color: #495057 !important;
}

.form-control[readonly],
input[readonly] {
  background-color: #0000 !important;
}

.owl-dt-trigger-disabled {
  background-color: #e9ecef !important;
  pointer-events: none !important;
  opacity: 1.35 !important;
}

.btnadd,
.btnsave {
  background-color: #3E65A6 !important;
  color: white !important;
  border-color: #3E65A6 !important;
}

.btncancel {
  background-color: #71B03C !important;
  color: white !important;
  border-color: #71B03C !important;
}

.swal2-cancel.swal2-styled {
  background-color: #71B03C !important;
  color: white !important;
  border: 0px !important;
  border-color: #71B03C !important;
}

.swal2-confirm.swal2-styled {
  background-color: #3F67A7 !important;
  color: white !important;
  border: 0px !important;
  border-color: #3F67A7 !important;
}


seven-seg.blueDigit [display] {
  background-color: #fff;
  fill: blue;
  height: 3em;
  transform: skewX(-7deg);
  padding: 0.2em;
}


seven-seg.blueDigit [segmentOn] {}

seven-seg.blueDigit [segmentOff] {
  opacity: 0;
}

seven-seg.blueDigit2 [display] {
  background-color: #fff0;
  fill: blue;
  height: 3em;
  transform: skewX(-7deg);
  padding: 0.2em;
  cursor: none !important;
}

seven-seg.blueDigit2 [segmentOn] {}

seven-seg.blueDigit2 [segmentOff] {
  opacity: 0;
}

textarea {
  min-height: 100px;
}

.form-control,
select,
.ng-select .ng-select-container,
.dataTable-wrapper .dataTable-top .dataTable-search .dataTable-input,
.input.mat-input-element {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.5rem 1rem !important;
  ;
  font-size: 0.875rem !important;
  ;
  font-weight: 400 !important;
  ;
  line-height: 1;
  color: #495057 !important;
  ;
  background-color: #ffffff;
  ;
  background-clip: padding-box !important;
  ;
  border: 1px solid #ced4da !important;
  /* border-radius: 2px; */
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.mat-select {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.mat-select-trigger {
  height: 100%;
}

.mat-select-value {
  // height: 100%;
  // padding-bottom: 0;
  // margin-bottom: 0;
  // padding-top: 1.4%;
  vertical-align: middle;
}

.mat-select-disabled,
.mat-select-disabled span {
  background-color: #e9ecef !important;
  // color: #495057 !important;
}

.mat-dialog22 {
  max-width: 80vw;
  pointer-events: auto;
  width: 50%;
  min-height: 48% !important;
  position: static;
}

.btn.btn-primary.mr-1.btnupdate {
  background-color: #3E65A6 !important;
}

.sidebar .sidebar-body .sidebar-nav .nav-item.mm-active>.nav-link {
  color: #1C2B47 !important;
}

.sidebar .sidebar-body .sidebar-nav.sub-menu .nav-item .nav-link:hover {
  color: #1C2B47 !important;
}

.btn-primary,
.fc .fc-toolbar.fc-header-toolbar .fc-left .fc-button-group .fc-button.fc-button-active,
.fc .fc-toolbar.fc-header-toolbar .fc-right .fc-button-group .fc-button.fc-button-active,
.swal2-modal .swal2-actions button.swal2-confirm {
  color: #fff;
  background-color: #5E376D !important;
  border-color: #5E376D !important;
}

.readonly-block {
  pointer-events: none;
}

// .pointer{
//   cursor: pointer;
// }
// .sidebar .sidebar-body .sidebar-nav .nav-item:hover .nav-link {
//   color:#3F67A7!important;
// }
.playback_select .multiselect-dropdown .dropdown-list {
  // height: 150px!important;
  //overflow-y: auto;
  bottom: 100% !important;
}

.cdk-overlay-container {
  position: fixed;
  z-index: 10000;
}

ng-http-loader .backdrop {
  z-index: 9999999 !important;
}

mat-form-field.mat-form-field,
mat-form-field.mb-0 {
  margin-bottom: 5px !important;
}

// .mat-form-field.mat-form-field .mat-form-field-wrapper{

// }
#spinner {
  z-index: 999999;
}

.mat-dialog_viewimage {
  max-width: 60% !important;
}

.switch_btn {
  justify-content: right;
  align-items: center;
  display: inline-flex !important;
}

.switch_btn i {
  margin-right: 5px;
}

.reportPage .cdk-overlay-container {
  position: fixed;
  z-index: 999 !important;
}

.lowercase {
  text-transform: lowercase !important;
}

.initial {
  text-transform: initial !important;
}

.typeOfAttachment {
  text-transform: none;
}

.editclr {
  color: #3E65A6;
}

.eyeclr {
  color: #71B03C;
}

@media only screen and (max-width: 500px) and (min-width: 320px) {
  .swal2-popup {
    width: 230px !important;
  }

  .navbar {
    z-index: 9999 !important;
  }

  .sidebar-open.sidebar {
    z-index: 9999;
  }

  .switch_btn {
    padding: 6px !important;
    font-size: 12px !important;
  }

  seven-seg.blueDigit2 [display] {
    background-color: #fff0;
    fill: blue;
    height: 2.5em;
    transform: skewX(-6deg);
    padding: 0.5em;
    cursor: none !important;
  }

  // .mat-dialog-container {
  //   overflow-x: scroll !important;
  //   overflow-y: scroll !important;
  // }
}

@media (max-width: 991px) {
  .sidebar {
    z-index: 9999 !important;
    margin-left: -240px;
    visibility: hidden;
  }
}


.removeglobalfilter .filter_sec_only {
  display: none;
}

.removeglobalfilter .afterhidefilter_sec {
  justify-content: flex-end;
}

// mat-table.mat-table.cdk-table.mat-sort{
// margin-top: 10px;
// }

.item {
  padding: 0;
  width: 100vw;
  height: 300px;
  background-color: crimson;
  color: #fff;
  font-size: 50px;
  line-height: 300px;
  text-align: center;
}

.gal_img {
  width: 100%;
  height: 150px;
}

.gal_img_pdf {
  width: 100%;
  height: 150px;
}

.icon_action {
  padding-top: 10px;
  text-align: right;
  color: #999;
  font-size: 14px;
  cursor: pointer;
}

.icon_action i {
  margin-right: 5px;
}

.icon_action_pdf1 {
  padding-top: 10px;
  text-align: right;
  float: left;
}

.icon_action_pdf1 i {
  margin-right: 5px;
}

.icon_action_pdf {
  padding-top: 10px;
  text-align: right;
  float: right;
}

.icon_action_pdf2 i {
  margin-right: 5px;
}

.dd {
  display: flex !important;
  padding-top: 10px;
  justify-content: space-between;
}

.dd span {
  color: #999;
  cursor: pointer;
}

.flex-end {
  justify-content: flex-end !important;
}

.attachBtn {
  margin-top: 20px;
}

.card_img {
  background-color: #fff;
  padding: 10px;
  min-height: 100%;
}

// .apexcharts-pan-icon{
//   display: none;
// }
// .apexcharts-zoom-icon{
//   display: none;
// }
// .apexcharts-menu-icon{
//   display: none;
// }
.apexcharts-element-hidden {
  display: none;
}

.apexcharts-reset-icon {
  margin-left: 0px !important;
}

.mat-dialog-report .mat-dialog-container {
  padding-top: 0 !important;
}

.apexcharts-canvas .apexcharts-toolbar {
  display: block !important;
}

// .leaflet-tile-pane {
//   -webkit-filter: grayscale(100%);
//   filter: grayscale(100%);
// }

// .lightboxOverlay{
//   height: 100%;
// }

// .animation.fadeIn.lightbox{
//   top: 50%!important;
//   -webkit-transform: translateY(-50%);
//   transform: translateY(-50%);
// }
.custom-file .custom-file-label {
  white-space: nowrap;
  overflow: hidden;
}

.mat-dialog-attachment {
  min-width: 33% !important;
}

.swal2-content {
  text-transform: capitalize;
}

.mat-dialog-report {
  max-width: 98vw !important;
  pointer-events: auto !important;
  width: 98% !important;
  height: 90% !important;
  position: static !important;
}

.mat-dialog-bookingreport {
  max-width: 98vw !important;
  pointer-events: auto !important;
  width: 98% !important;
  height: 90% !important;
  position: static !important;
  overflow-x: scroll !important;
  // overflow-y: scroll !important;
}

.multiselect-dropdown .dropdown-btn .dropdown-down {
  display: inline-block;
  top: 10px;
  width: 0;
  height: 0;
  border-top: 5px solid #adadad;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;

}

.swal2-container {
  z-index: 9999 !important;
}

.mat-dialog-serviceschedule {
  overflow-y: auto !important;
}

.swal2-title {
  text-transform: capitalize !important;
}

.swal2-popup {
  max-width: max-content !important;
  // width: max-content!important;
  width: 40%;
}

textarea {
  resize: both;
  overflow: auto;
  min-height: 100px;
}

.mat-tab-body-content {
  // height: 100%;
  overflow: hidden !important;
}

.fafaicons {
  font-size: 18px;
}

.defaultcursor {
  cursor: default;
}

.attachdochead {
  font-size: 13px;
  font-weight: 400;
}

.mat-button-disabled i {
  opacity: 0.5;
  color: #999 !important;
}

.mat-dialog-container {
  // overflow-x: hidden !important;
  overflow-y: scroll !important;
}

.txtalignRight {
  text-align: right !important;
}

.cell-width {
  width: 10% !important;
}

.cell-width-15 {
  width: 15% !important;
}

.cell-width-20 {
  width: 20% !important;
}

.multiselect-dropdown .dropdown-btn .selected-item {
  border: 1px solid #337ab7;
  margin-right: 4px;
  background: #337ab7;
  padding: 0 5px;
  color: #fff;
  border-radius: 2px;
  float: left;
  display: flex;
  max-width: 120px !important;
}

.apexcharts-legend.position-left {
  left: 0px !important;
  // position: absolute;
}

.apexcharts-legend-text {
  color: black !important;
}

.mat-dialog-bookingreport {
  max-width: 98vw !important;
  pointer-events: auto !important;
  width: 98% !important;
  height: 90% !important;
  position: static !important;
  overflow-x: scroll !important;
  // overflow-y: scroll !important;
}

.apexcharts-legend-text {
  font-weight: 900;
  font-size: 14px !important;
}

.leaflet-tile-pane {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.mat-button-toggle-appearance-standard .mat-button-toggle-label-content {
  line-height: 35px !important;
  // font-size: 12px !important;
}

// @media (min-width:801px) {
//   .toggle-button-size {
//     padding: 0 2px !important;
// }
// }
// @media (min-width:1025px) {
//   .toggle-button-size {
//     padding: 0 2px !important;
// }
// }
// @media (min-width:1281px) {
//   .toggle-button-size {
//     padding: 0 2px !important;
// }
// }
.mat-button-toggle-group {
  flex-wrap: wrap !important;
}

circle,
path {
  cursor: pointer;
}

circle {
  fill: none;
  pointer-events: all;
}

#tooltip {
  background-color: white;
  padding: 3px 5px;
  border: 1px solid black;
  text-align: center;
}

.mat-sort-header-container {
  justify-content: center !important;
}

.mat-tab-label {
  height: 48px;
  padding: 0px 24px;
  cursor: pointer;
  box-sizing: border-box;
  opacity: 0.6;
  min-width: 162px;
  text-align: center;
  font-weight: 500;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  position: relative;
  color: #0a365c;
  font-size: 18px;
}

.mat-tab-group {
  font-family: inherit;
}

$custom-primary: mat-palette($mat-blue, 500);
$custom-accent: mat-palette($mat-green, 500);

// Create a theme using your custom palette
$custom-theme: mat-light-theme($custom-primary, $custom-accent);

// Apply the theme to the Angular Material components
@include mat-core();
@include angular-material-theme($custom-theme);

.form-control:disabled {
  background-color: #e9ecef !important;
  pointer-events: none !important;
}

.mat-select-value {
  color: #545057 !important;
}

.mat-select-value-text {
  font-family: "Overpass", sans-serif !important;
}

.mat-option-text {
  font-family: "Overpass", sans-serif !important;
}

.mat-select-placeholder {
  font-family: "Overpass", sans-serif !important;
  color: #d0cdd2 !important;
}
.sidebar .sidebar-body .sidebar-nav .nav-item:hover .nav-link {
  color: #3e65a6 !important;
}