<div class="d-flex justify-content-between align-items-center flex-wrap grid-margin">
    <div>
        <h4 class="mb-3 mb-md-0" *ngIf="actionInfo == 0 && id == 0">&nbsp;{{'Add Project Details' | translate}}</h4>
        <h4 class="mb-3 mb-md-0" *ngIf="actionInfo == 1 ">&nbsp;{{'View Project Details' | translate}}</h4>
        <h4 class="mb-3 mb-md-0" *ngIf="actionInfo == 0 && id !== 0">&nbsp;{{'Edit Project Details' | translate}}</h4>
    </div>
</div>
<div class="row text-left">
    <div class="col-md-12">
        <div class="card">
            <div class="card-content">
                <div class="card-body login-img">
                    <div class="px-3">
                        <form [formGroup]="form" class="form form-horizontal" novalidate>
                            <div class="form-body pt-2">
                                <fieldset >
                                <div class="row" >
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="mandatory ">{{"clintid"|translate}}</label>
                                            <mat-select placeholder="Select Clint"  [disabled]="isdisable"
                                                formControlName="clientId" class="form-control pt-2">
                                                <mat-select-filter [displayMember]="'value'" [array]="clintdata"
                                                    (filteredReturn)="filterclintdata =$event">
                                                </mat-select-filter>
                                                <mat-option *ngFor="let item of filterclintdata" [value]="item.key">
                                                    {{item.value}}
                                                </mat-option>
                                            </mat-select>
                                            <div class="valid-error"
                                            *ngIf="form.controls.clientId.errors && (form.controls.clientId.dirty || form.controls.clientId.touched)"
                                            text-wrap>
                                            <span *ngIf="form.controls.clientId.errors?.required"
                                                class="form-text danger mandatory">
                                                {{'clintid' | translate}} {{'IsRequired' | translate}}</span>
                                           
                                        </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="mandatory ">{{'projectname' | translate}}</label>
                                            <input type="text" class="form-control" [ngClass]="{'disable':isdisable}"
                                                formControlName="projectName" placeholder="{{'Project Name' | translate}}" autocomplete="off">
                                            <div class="valid-error"
                                                *ngIf="form.controls.projectName.errors && (form.controls.projectName.dirty || form.controls.projectName.touched)"
                                                text-wrap>
                                                <span *ngIf="form.controls.projectName.errors?.required"
                                                    class="form-text  danger mandatory">
                                                    {{'projectname' | translate}} {{'IsRequired' | translate}}</span>
                                               
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="mandatory ">{{"Bussiness Unit"|translate}}</label>
                                            <mat-select placeholder="{{'projecttype'|translate}}"  [disabled]="isdisable"  
                                                formControlName="projectTypeId" class="form-control pt-2">
                                                <mat-select-filter [displayMember]="'value'" [array]="projecttypelist"
                                                    (filteredReturn)="filterprojecttypelist =$event">
                                                </mat-select-filter>
                                                <mat-option *ngFor="let item of filterprojecttypelist" [value]="item.key">
                                                    {{item.value}}
                                                </mat-option>
                                            </mat-select>
                                            <div class="valid-error"
                                            *ngIf="form.controls.projectTypeId.errors && (form.controls.projectTypeId.dirty || form.controls.projectTypeId.touched)"
                                            text-wrap>
                                            <span *ngIf="form.controls.projectTypeId.errors?.required"
                                                class="form-text danger mandatory">
                                                {{'Project Type' | translate}} {{'IsRequired' | translate}}</span>
                                        </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="mandatory ">{{"Project Lead"|translate}}</label>
                                            <mat-select placeholder="Project Lead" 
                                                formControlName="projectLeadId" class="form-control pt-2">
                                                <mat-select-filter [displayMember]="'value'" [array]="projectleadlist"
                                                    (filteredReturn)="filterprojectleadlist =$event">
                                                </mat-select-filter>
                                                <mat-option *ngFor="let item of filterprojectleadlist" [value]="item.key">
                                                    {{item.value}}
                                                </mat-option>
                                            </mat-select>
                                            <div class="valid-error"
                                            *ngIf="form.controls.projectLeadId.errors && (form.controls.projectLeadId.dirty || form.controls.projectLeadId.touched)"
                                            text-wrap>
                                            <span *ngIf="form.controls.projectLeadId.errors?.required"
                                                class="form-text danger mandatory">
                                                {{'Project Type' | translate}} {{'IsRequired' | translate}}</span>
                                        </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class=" ">{{'Second Project Lead' | translate}}</label>
                                            <mat-select aria-label="true" formControlName="secLelreportingPersonId" [ngClass]="{'disable':actionInfo == 1}"
                                                class="form-control pt-2" placeholder="Select Reporting Person">
                                                <mat-select-filter [displayMember]="'value'" [array]="projectleadlist"
                                                    (filteredReturn)="filterprojectleadlist =$event">
                                                </mat-select-filter>
                                                <mat-option *ngFor="let item of filterprojectleadlist" [value]="item.key"
                                                    class="disp">
                                                    {{item.value}}
                                                </mat-option>
                                            </mat-select>
                                            <div class="valid-error"
                                                *ngIf="form.controls.secLelreportingPersonId.errors && (form.controls.secLelreportingPersonId.dirty || form.controls.secLelreportingPersonId.touched)"
                                                text-wrap>
                                                <span *ngIf="form.controls.secLelreportingPersonId.errors?.required"
                                                    class="form-text  danger mandatory">
                                                    {{'Reporting Person' | translate}} {{'IsRequired' | translate}}</span>

                                            </div>
                                        </div>
                                    </div>
                                   
                                    <!-- <div class="col-md-6" >
                                        <div class="form-group">
                                            <label class="mandatory ">{{"Technologytype"|translate}}</label>
                                            <mat-select placeholder="Select Technology" [disabled]="isdisable"
                                                formControlName="technologyTypeId" class="form-control pt-2">
                                                <mat-select-filter [displayMember]="'value'" [array]="technologytypelist"
                                                    (filteredReturn)="filtertechnologytypelist =$event">
                                                </mat-select-filter>
                                                <mat-option *ngFor="let item of filtertechnologytypelist" [value]="item.key">
                                                    {{item.value}}
                                                </mat-option>
                                            </mat-select>
                                            <div class="valid-error"
                                            *ngIf="form.controls.technologyTypeId.errors && (form.controls.technologyTypeId.dirty || form.controls.technologyTypeId.touched)"
                                            text-wrap>
                                            <span *ngIf="form.controls.technologyTypeId.errors?.required"
                                                class="form-text danger mandatory">
                                                {{'Technologytype' | translate}} {{'IsRequired' | translate}}</span>
                                        </div>
                                        </div>
                                    </div> -->
                                    <div class="col-md-6">
                                        <div class="form-group">
                                          <label class="mandatory">{{"TexTac"|translate}}</label>
                                          <ng-multiselect-dropdown  [disabled]="this.actionInfo == 1" formControlName="technologyTypeId" placeholder="Select Technology"
                                            [settings]="dropdownSettings" [data]='filtertechnologytypelist'>
                                          </ng-multiselect-dropdown>
                
                                          <small class="form-text  danger "
                                            *ngIf="!form.get('technologyTypeId').valid && (form.get('technologyTypeId').dirty || form.get('technologyTypeId').touched)">
                                           
                                          </small>
                                        </div>
                                      </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="mandatory ">{{'Git Repository' | translate}}</label>
                                            <input type="text" class="form-control"
                                                formControlName="repositoryName" placeholder="{{'Git Repository' | translate}}" autocomplete="off">
                                            <div class="valid-error"
                                                *ngIf="form.controls.repositoryName.errors && (form.controls.repositoryName.dirty || form.controls.repositoryName.touched)"
                                                text-wrap>
                                                <span *ngIf="form.controls.repositoryName.errors?.required"
                                                    class="form-text danger mandatory">
                                                    {{'Git Repository' | translate}} {{'IsRequired' | translate}}</span>
                                                
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="mandatory ">{{'Git Repository Url' | translate}}</label>
                                            <input type="text" class="form-control"
                                                formControlName="repositoryUrl" placeholder="{{'Repository Url' | translate}}" autocomplete="off">
                                            <div class="valid-error"
                                                *ngIf="form.controls.repositoryUrl.errors && (form.controls.repositoryUrl.dirty || form.controls.repositoryUrl.touched)"
                                                text-wrap>
                                                <span *ngIf="form.controls.repositoryUrl.errors?.required"
                                                    class="form-text  danger mandatory">
                                                    {{'Repository Url' | translate}} {{'IsRequired' | translate}}</span>
                                                
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="mandatory ">{{'StartDate' | translate}}</label>
                                            <div class="input-group mb-0">

                                                <input class="form-control" formControlName="startDate"
                                                placeholder="{{'StartDate' | translate}}"
                                                    [owlDateTimeTrigger]="dt1" [owlDateTime]="dt1"
                                                    (ngModelChange)="setDate()" [max]="maxDate">
                                                <owl-date-time [pickerType]="'calendar'" #dt1></owl-date-time>
                                                <div class="input-group-append">
                                                    <span class="trigger input-group-text" [owlDateTimeTrigger]="dt1">
                                                        <i class="fa fa-calendar-check-o"></i>
                                                    </span>
                                                    <owl-date-time [pickerType]="'calendar'" #dt1></owl-date-time>
                                                </div>
                                            </div>
                                            <span class="form-text  danger mandatory "
                                                *ngIf="!form.get('startDate').valid && (form.get('startDate').dirty || form.get('startDate').touched)">
                                                {{'StartDate' | translate}} {{'IsRequired' | translate}}
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label >{{'EndDate' | translate}}
                                            </label>
                                            <div class="input-group mb-0">

                                                <input class="form-control" formControlName="endDate"
                                                    [owlDateTimeTrigger]="dt2" [owlDateTime]="dt2" placeholder="{{'EndDate' | translate}}"
                                                    [max]='scheduledEndmax' [min]="form.get('startDate').value">
                                                <owl-date-time [pickerType]="'calendar'" #dt2></owl-date-time>
                                                <div class="input-group-append">
                                                    <span class="trigger input-group-text" [owlDateTimeTrigger]="dt2">
                                                        <i class="fa fa-calendar-check-o"></i>
                                                    </span>
                                                    <owl-date-time [pickerType]="'calendar'" #dt2></owl-date-time>
                                                </div>
                                            </div>
                                            <div class="valid-error"
                                                *ngIf="form.controls.endDate.errors && (form.controls.endDate.dirty || form.controls.endDate.touched)"
                                                text-wrap>
                                                <span *ngIf="form.controls.endDate.errors?.required"
                                                    class="form-text  danger mandatory">
                                                    {{'EndDate' | translate}} {{'IsRequired' | translate}}</span>
                                                    <span class="form-text text-muted danger mandatory initial" *ngIf="(form.get('startDate').value && form.get('EndDate').value) && (form.get('startDate').value > form.get('EndDate').value)">
                                                        {{'EndDateshouldbegreaterthanstarrtdate' | translate}}
                                                    </span>
                                            </div>
                                        </div>
                                    </div>
                                   
                                   
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="mandatory ">{{"Projectstatus"|translate}}</label>
                                            <mat-select placeholder='{{"Projectstatus"|translate}}' 
                                                formControlName="projectStatusId" class="form-control pt-2">
                                                <mat-select-filter [displayMember]="'value'" [array]="ProjectStatuslist"
                                                    (filteredReturn)="filterprojectstatuslist =$event">
                                                </mat-select-filter>
                                                <mat-option *ngFor="let item of filterprojectstatuslist" [value]="item.key">
                                                    {{item.value}}
                                                </mat-option>
                                            </mat-select>
                                            <div class="valid-error"
                                            *ngIf="form.controls.projectStatusId.errors && (form.controls.projectStatusId.dirty || form.controls.projectStatusId.touched)"
                                            text-wrap>
                                            <span *ngIf="form.controls.projectStatusId.errors?.required"
                                                class="form-text danger mandatory">
                                                {{'Projectstatus' | translate}} {{'IsRequired' | translate}}</span>
                                        </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="mandatory ">{{"Nature of the project"|translate}}</label>
                                            <mat-select placeholder='{{"Projectstatus"|translate}}' 
                                                formControlName="natureofproject" class="form-control pt-2">
                                                <mat-select-filter [displayMember]="'value'" [array]="natureofprojectlist"
                                                    (filteredReturn)="filternatureofprojectlist =$event">
                                                </mat-select-filter>
                                                <mat-option *ngFor="let item of filternatureofprojectlist" [value]="item.key">
                                                    {{item.value}}
                                                </mat-option>
                                            </mat-select>
                                            <div class="valid-error"
                                            *ngIf="form.controls.natureofproject.errors && (form.controls.natureofproject.dirty || form.controls.natureofproject.touched)"
                                            text-wrap>
                                            <span *ngIf="form.controls.natureofproject.errors?.required"
                                                class="form-text danger mandatory">
                                                {{'Nature of the project' | translate}} {{'IsRequired' | translate}}</span>
                                        </div>
                                        </div>
                                    </div>

                                </div>
                            </fieldset>
                                <div class="form-actions mb-2 mt-3" style="float: right;">
                                    <button type="reset" class="btn btn-raised btn-warning mr-1 btncancel"
                                        (click)="onCancel()">
                                        <i class="fa fa-close"></i>
                                        {{'Cancel' | translate}}
                                    </button>
                                    <button *ngIf=formEditMode
                                        [ngClass]="id === 0 ? 'btn btn-primary mr-1 btnsave':'btn btn-primary mr-1 btnupdate'"
                                        type="submit" (click)="onSubmit()">
                                        <i class="fa fa-save"></i>
                                        {{submitbtn | translate}}
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>