
<div class="pl-1 pr-1 mb-1">
    <div class="row d-flex justify-content-between align-items-center flex-wrap grid-margin">
        <div class="col-md-3 col-sm-2">
            <h4 class="text-bold-500 text-left hearder-text">
                {{pagetitle}}
            </h4>
        </div>
        <div class="col-md-4">
            <form [formGroup]="form" class="form form-horizontal" novalidate>
                <div class="form-body pt-2">
                    <div class="row mt-2">
                        <div class="col-5 pr-0">
                            <!-- <div class="form-group">
                                <label class="">Target Date</label>
                                <div class="input-group mb-0 ">
                                    <input class="form-control" placeholder="Target Date"
                                        (ngModelChange)="filterDate($event)" formControlName="targetDate"
                                        [owlDateTimeTrigger]="dt4" [owlDateTime]="dt4">
                                    <owl-date-time [pickerType]="'calendar'" #dt4>
                                    </owl-date-time>
                                    <div class="input-group-append">
                                        <span class="trigger input-group-text" [owlDateTimeTrigger]="dt4">
                                            <i class="fa fa-calendar-check-o"></i>
                                        </span>
                                        <owl-date-time [pickerType]="'calendar'" #dt4>
                                        </owl-date-time>
                                    </div>
                                </div>
                            </div> -->
                        </div>
                        <div class="col-1 p-0" style="margin-top: 0.4rem;">
                            <!-- <button type="button" matRipple class="btn mt-4 mb-2" matTooltip="Clear"
                                style="background-color: #EDEEF5;border: 1px solid #CED4DA;" (click)="clearDate()">
                                <i class="btn-icon-prepend fa fa-refresh"></i>
                            </button> -->
                        </div>
                        <div class="col-md-6">
                            <!-- <div class="form-group">
                                <label class="">Employee</label>
                                <mat-select placeholder="Executor" formControlName="empNameCode"
                                    (selectionChange)="employeeChange($event)" class="form-control pt-2"
                                    [disableOptionCentering]="true" #select5>
                                    <mat-select-filter [displayMember]="'value'" [array]="uniqueData"
                                        (filteredReturn)="uniqueDataFiltered =$event" *ngIf="select5.focused">
                                    </mat-select-filter>
                                    <mat-option *ngFor="let item of uniqueDataFiltered" [value]="item.key">
                                        {{item.value}}
                                    </mat-option>
                                </mat-select>
                            </div> -->
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <!-- <div class="col-md-6" *ngIf="!showAdd()">
        </div> -->
        <div class="col-md-5 mt-3">
            <div style="float:right; display: flex;">
                <button type="button" matRipple class="btn btnrefresh mr-2 mb-1" (click)="refresh()">
                    <i class="btn-icon-prepend fa fa-refresh"></i>
                    {{'Refresh' | translate}}
                </button>
                <!-- <button type="button" matRipple class="btn btnexportexcel mb-2" (click)="onExportExcel()">
                    <i class="btn-icon-prepend fa fa-file-excel-o"></i>
                    {{'ExportExcel' | translate}}
                </button> -->
                <mat-button-toggle-group #group="matButtonToggleGroup" [(ngModel)]="selectedOption" (change)="onToggleChange($event)">
                    <mat-button-toggle value="status" aria-label="Status">Status</mat-button-toggle>
                    <mat-button-toggle value="approval" aria-label="Approval">Approval</mat-button-toggle>
                </mat-button-toggle-group>
                
            </div>
        </div>
    </div>
</div>

<mat-form-field class="mb-0 col-sm-12 col-md-12 col-lg-12 col-xl-12">
    <input id="search1" matInput (keyup)="applyFilter($event)" placeholder="{{'Search'}}" #searchInput>
</mat-form-field>
<div class="table-responsive">
    <mat-table #table [dataSource]="dataSource" matSort matSortDirection="asc" multiTemplateDataRows>
        <ng-container matColumnDef="manager">
            <mat-header-cell *matHeaderCellDef mat-sort-header="scheduleTMViewModel.primaryOwnerName">{{'Manager' | translate}}
            </mat-header-cell>
            <mat-cell *matCellDef="let dataField">
                <p class="text-truncate txtalign lbl-pointer">{{dataField?.scheduleTMViewModel?.primaryOwnerName}}</p>
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="employee">
            <mat-header-cell *matHeaderCellDef mat-sort-header="executorName">{{'Employee' | translate}}
            </mat-header-cell>
            <mat-cell *matCellDef="let dataField">
                <p class="text-truncate txtalign lbl-pointer">{{dataField?.executorName}}</p>
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="task">
            <mat-header-cell *matHeaderCellDef mat-sort-header="scheduleTMViewModel.scheduleTaskName">{{'Task' | translate}}
            </mat-header-cell>
            <mat-cell *matCellDef="let dataField">
                <p class="text-truncate txtalign lbl-pointer">{{dataField?.scheduleTMViewModel?.scheduleTaskName}}</p>
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="periodValue">
            <mat-header-cell *matHeaderCellDef mat-sort-header="scheduleTMViewModel.scheduleGridViewModel.period">{{'Period' | translate}}
            </mat-header-cell>
            <mat-cell *matCellDef="let dataField">
                <p class="text-truncate txtalign lbl-pointer">{{dataField?.scheduleTMViewModel?.scheduleGridViewModel.period}}</p>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="assignedDate">
            <mat-header-cell *matHeaderCellDef mat-sort-header="scheduleTMViewModel.scheduleGridViewModel.assignedDate">{{'Assigned Date' | translate}}
            </mat-header-cell>
            <mat-cell *matCellDef="let dataField">
                <p class="text-truncate txtalign lbl-pointer">{{dataField?.scheduleTMViewModel?.scheduleGridViewModel?.assignedDate | date:"dd-MM-yyyy"}}</p>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="targetDate">
            <mat-header-cell *matHeaderCellDef mat-sort-header="scheduleTMViewModel.scheduleGridViewModel.targetDate">{{'Target Date' | translate}}
            </mat-header-cell>
            <mat-cell *matCellDef="let dataField">
                <p class="text-truncate txtalign lbl-pointer">{{dataField.scheduleTMViewModel?.scheduleGridViewModel?.targetDate | date:"dd-MM-yyyy"}}</p>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="project">
            <mat-header-cell *matHeaderCellDef mat-sort-header="projectName">Project
            </mat-header-cell>
            <mat-cell *matCellDef="let dataField">
                <p class="text-truncate txtalign lbl-pointer">{{dataField?.projectName}}</p>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="reminderDate">
            <mat-header-cell *matHeaderCellDef mat-sort-header="scheduleTMViewModel.scheduleGridViewModel.reminderDate">{{'Reminder Date' | translate}}
            </mat-header-cell>
            <mat-cell *matCellDef="let dataField">
                <p class="text-truncate txtalign lbl-pointer">{{dataField?.scheduleTMViewModel?.scheduleGridViewModel?.reminderDate | date:"dd-MM-yyyy"}}</p>
            </mat-cell>
        </ng-container>

        <ng-container fxFlex="10" matColumnDef="action">
            <mat-header-cell *matHeaderCellDef style="text-align: center;">{{'Actions' | translate}}</mat-header-cell>
            <mat-cell *matCellDef="let dataField" class="button-bar" class="centered-cell">

                <button data-toggle="tooltip" data-placement="right" matTooltip="{{'Add Status'|translate}}"
                    matTooltipClass="tooltip-edit" matTooltipPosition="right" mat-icon-button color="primary"
                    (click)="ModifyKraTaskstatus(dataField.id,0)">
                    <i class="fa fa-edit fa-2x editclr"></i>
                </button>

                <button data-toggle="tooltip" data-placement="right" matTooltip="{{'View'|translate}}"
                    matTooltipClass="tooltip-edit" matTooltipPosition="right" mat-icon-button color="accent"
                    (click)="ModifyKraTaskstatus(dataField.id,1)">
                    <i class="fa fa-eye fa-2x eyeclr"></i>
                </button>
                <button mat-icon-button *ngIf="expandedElement?.id!= dataField?.id" (click)="expandDown(dataField)"
                    [disabled]="dataField?.scheduleTaskStatusViewModels?.length === 0">
                    <mat-icon style="color: #fff;"
                        [ngStyle]="{'background-color': dataField?.scheduleTaskStatusViewModels?.length === 0 ? '#CCCCCC':'#3E65A6'}">
                        keyboard_arrow_down</mat-icon>
                </button>

                <button mat-icon-button *ngIf="expandedElement?.id == dataField?.id" (click)="expandUp(undefined)">
                    <mat-icon style="background-color: #3E65A6;color: #fff;">keyboard_arrow_up</mat-icon>
                </button>

            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="expandedDetail">
            <mat-cell *matCellDef="let dataField; let x=dataIndex" style="display: flow-root;">
                <table class="Info" style="width: 100%;">
                    <tr>
                        <th>S.No</th>
                        <th>Status Date</th>
                        <th>Task Status</th>
                        <th>Note</th>
                    </tr>

                    <tr *ngFor="let rowData of dataField.scheduleTaskStatusViewModels; let i=index;">
                        <td style="vertical-align: middle;">
                            {{i+1}}
                        </td>
                        <td style="vertical-align: middle;">
                            {{rowData?.statusDate| date:"dd-MM-yyyy"}}
                        </td>
                        <td style="vertical-align: middle;">
                            {{rowData?.taskStatusName}}
                        </td>
                        <td style="vertical-align: middle;">
                            {{rowData?.note}}
                        </td>
                    </tr>
                </table>
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></mat-header-row>

        <mat-row *matRowDef="let row; columns: displayedColumns;" matRipple class="element-row">
        </mat-row>
        <mat-row *matRowDef="let row; columns: ['expandedDetail'];"
            [@detailExpand]="row?.id == expandedElement?.id ? 'expanded' : 'collapsed'" style="overflow: hidden">
        </mat-row>
    </mat-table>
</div>

<mat-paginator #paginator [length]="resultArray && resultArray.length && dataSource.filteredData.length" [pageIndex]="0"
    [pageSize]="10" [pageSizeOptions]="[10, 25, 50, 100]">
</mat-paginator><br>